<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: ailori
  Date: 11-Aug-18
  Time: 2:47 PM
-->
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:o="http://omnifaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"   xmlns:p="http://primefaces.org/ui"   lang="en">


<h:head>
    <f:facet name="first">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
        <meta name="apple-mobile-web-app-capable" content="yes" />
    </f:facet>
    <title>
        <ui:insert name="pageTitle"/>
    </title>
    <o:importFunctions type="org.apache.commons.lang3.text.WordUtils" var="wordUtils"/>
    <o:importFunctions type="org.apache.commons.lang3.StringUtils" var="stringUtils"/>
    <h:outputScript name="js/nanoscroller.js" library="manhattan-layout" />
    <h:outputScript name="js/layout.js" library="manhattan-layout" />
    <o:importConstants type="org.javasoft.gicguests.utils.PageConstants" var="pageConstants"/>
    <o:importConstants type="org.javasoft.gicguests.utils.ProjConstants" var="projConstants"/>
    <ui:insert name="head"/>
</h:head>

<h:body>
    <div class="layout-wrapper #{themeBean.layoutStyleClass}">
        <div class="layout-main">
            <ui:include src="#{navigatorBean.selectedHeaderPath}"/>
            <div class="layout-content">

                <ui:insert name="body-contents"/>

            </div>

            <ui:include src="#{navigatorBean.selectedFooterPath}" />

            <div class="layout-main-mask"></div>

        </div>
        <div class="layout-sidebar">
            <ui:include src="#{navigatorBean.selectedMenuPath}" />
        </div>
    </div>

    <p:ajaxStatus style="width:32px;height:32px;position:fixed;right:7px;bottom:7px">
        <f:facet name="start">
            <i class="fa fa-circle-o-notch fa-spin ajax-loader" aria-hidden="true"></i>
        </f:facet>

        <f:facet name="complete">
            <h:outputText value="" />
        </f:facet>
    </p:ajaxStatus>

    <h:outputStylesheet name="css/nanoscroller.css" library="manhattan-layout" />
    <h:outputStylesheet name="css/layout-#{themeBean.theme}.css" library="manhattan-layout" />
    <h:outputStylesheet name="css/primefacelets-icons.css" library="manhattan-layout"/>
</h:body>

</html>