<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: ailori
  Date: 11-Aug-18
  Time: 2:52 PM
-->
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui">

    <div class="layout-footer clearfix">
        <span style="font-style: italic">
          GIC GUESTS REGISTER
        </span>

        <p:spacer width="4px"/>
        <i class="fa fa-copyright fa-1g"/>
        <p:spacer width="3px"/>
        <span style="font-style: italic">
        #{of:formatDate(now ,'yyyy')}
        </span>
        <p:spacer width="4px"/>
        <span style="font-style: italic">
        JavaSoft Inc
        </span>

    </div>
</ui:composition>