<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: ailori
  Date: 11-Aug-18
  Time: 2:54 PM
-->
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns:o="http://omnifaces.org/ui" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:of="http://omnifaces.org/functions"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pa="http://primefaces.org/manhattan">
    <h:body>
        <o:form id="topbarForm">
            <div class="layout-topbar">
                <a href="#" id="layout-menu-btn" class="menu-btn">
                    <i class="fa fa-bars"></i>
                </a>

                <div class="topbar-search">
                    <span style="vertical-align: -webkit-baseline-middle;font-weight: bolder">
                        GIC GUESTS REGISTER
                    </span>
                </div>

                <div class="layout-topbar-menu-wrapper">
                    <span style="font-style: italic ;" >
                        #{of:formatDate(now,projConstants.FULL_DATE_FORMAT)}
                    </span>


                    <span style="color: #3B4371 ; margin-left: 5px; margin-right: 5px">|</span>
                    <p:commandLink ajax="false"  action="#{logOutBean.logOut()}" value="Logout"/>
                    <p:spacer width="40" height="30"/>

                </div>
            </div>
        </o:form>
    </h:body>

</ui:composition>
