<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: ailori
  Date: 11-Aug-18
  Time: 2:53 PM


-->
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:o="http://omnifaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:p="http://primefaces.org/ui"
      xmlns:pm="http://primefaces.org/manhattan">
<h:body>
    <div class="layout-sidebar-logo">
        <a href="dashboard.xhtml">
            <p:graphicImage name="images/logo-manhattan.png" library="manhattan-layout" />
        </a>
        <a href="#" id="layout-sidebar-anchor" class="layout-sidebar-anchor" title="Toggle Menu">
            <i class="fa"></i>
        </a>
    </div>
    <div class="nano">
        <div class="nano-content sidebar-scroll-content">
            <div class="layout-menu-container">
                <o:form id="adminMenuForm">

                    <pm:menu>
                        <p:submenu label="Guests" icon="fa fa-group">
                            <p:menuitem id="newGuest" value="New Guest" icon="fa fa-plus" action="#{guestPageBean.setPagePath(pageConstants.NEW_GUEST)}" update=":homeForm"/>
                            <p:menuitem id="listGuests" value="List Guests" icon="fa fa-navicon" action="#{guestPageBean.setPagePath(pageConstants.LIST_GUESTS)}" update=":homeForm"/>
                        </p:submenu>
                    </pm:menu>
                </o:form>
            </div>
        </div>
    </div>

</h:body>
</html>