<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:body>
    <div class="ui-g" style="border: 1px solid #3b5f7e ; border-radius: 8px;background: white">
        <div class="ui-g-12 ui-md-6 ui-lg-6">
            <h:outputText value="Edit GUEST"/>
        </div>

        <div class="ui-g-12 ui-md-6 ui-lg-6">
            <div class="pull-right">
                <p:commandButton  value="Update" styleClass="raised-btn rounded-btn" action="#{guestPageBean.updateGuest()}"
                                  ajax="false" update="@form" icon="fa fa-fw fa-edit" style="margin-right: 5px;"/>
                <p:commandButton  value="List" styleClass="raised-btn rounded-btn" action="#{guestPageBean.setPagePath(pageConstants.LIST_GUESTS)}"
                                  ajax="true" update="@form" icon="fa fa-fw fa-list" immediate="true"/>
            </div>

        </div>
    </div>
    <div class="ui-g" style="border: 1px solid #3b5f7e ; border-radius: 8px; margin-top: 3px;">
        <div class="ui-g-12">
            <div class="card card-w-title">
                <h2 style="text-decoration: underline">Personal Details</h2>
                <p:panelGrid columns="4"
                             columnClasses="ui-g-12 ui-md-2,ui-g-12 ui-md-4,ui-g-12 ui-md-2 ui-grc-2,ui-g-12 ui-md-4" layout="grid"
                             styleClass="ui-panelgrid-blank form-group form-elements" style="border:0px none; background-color:transparent;">

                    <p:outputLabel for="actionCheckboxes" value="Action : " />
                    <h:panelGroup>
                        <p:selectManyCheckbox id="actionCheckboxes" layout="responsive" columns="1" value="#{guestPageBean.editActions}">
                            <f:selectItem itemValue="resendSMS" itemLabel="Resend SMS" />
                        </p:selectManyCheckbox>
                    </h:panelGroup>

                    <p:spacer width="5"/>
                    <p:spacer width="5"/>

                    <p:outputLabel for="surnameTxt" value="Surname : " />
                    <h:panelGroup>
                        <p:inputText  id="surnameTxt" required="true" autocomplete="off" size="40" value="#{guestPageBean.bioData.surname}"
                                      placeholder="Enter your surname"/>
                        <p:message for="surnameTxt" display="tooltip" />
                    </h:panelGroup>

                    <p:outputLabel for="otherNameTxt" value="Other Names : " />
                    <h:panelGroup>
                        <p:inputText  id="otherNameTxt" required="true" autocomplete="off" size="40" value="#{guestPageBean.bioData.otherNames}"
                                      placeholder="Enter your Other Names"/>
                        <p:message for="otherNameTxt" display="tooltip" />
                    </h:panelGroup>

                    <p:outputLabel for="selGender" value="Gender: " />
                    <h:panelGroup>
                        <p:selectOneRadio id="selGender" value="#{guestPageBean.bioData.gender}" required="true">
                            <f:selectItem itemValue="#{projConstants.GENDER_MALE}" itemLabel="#{projConstants.GENDER_MALE}"/>
                            <f:selectItem itemValue="#{projConstants.GENDER_FEMALE}" itemLabel="#{projConstants.GENDER_FEMALE}"/>
                        </p:selectOneRadio>
                        <p:message for="selGender" display="tooltip" />
                    </h:panelGroup>

                    <p:outputLabel for="selMaritalStatus" value="Marital Status: " />
                    <h:panelGroup>
                        <p:selectOneMenu id="selMaritalStatus" value="#{guestPageBean.bioData.maritalStatus}" required="true">
                            <f:selectItem itemLabel="-- Select--" itemValue="#{null}" />
                            <f:selectItem itemValue="#{projConstants.STATUS_SINGLE}" itemLabel="#{projConstants.STATUS_SINGLE}" />
                            <f:selectItem itemValue="#{projConstants.STATUS_MARRIED}" itemLabel="#{projConstants.STATUS_MARRIED}" />
                            <f:selectItem itemValue="#{projConstants.STATUS_DIVORCED}" itemLabel="#{projConstants.STATUS_DIVORCED}" />
                            <f:selectItem itemValue="#{projConstants.STATUS_WIDOWED}" itemLabel="#{projConstants.STATUS_WIDOWED}" />
                        </p:selectOneMenu>
                        <p:message for="selMaritalStatus" display="tooltip" />
                    </h:panelGroup>

                    <p:outputLabel for="phoneNo" value="Phone No : " />
                    <h:panelGroup>
                        <p:inputText  id="phoneNo" required="true" autocomplete="off" size="40" value="#{guestPageBean.bioData.phoneNo}"
                                      placeholder="Enter your PhoneNo"/>
                        <p:message for="phoneNo" display="tooltip" />
                    </h:panelGroup>

                    <p:outputLabel for="otherPhoneNo" value="Other Phone No : " />
                    <p:inputText  id="otherPhoneNo" required="false" autocomplete="off" size="40" value="#{guestPageBean.bioData.altPhoneNo}"
                                  placeholder="Enter your Other PhoneNo"/>

                    <p:outputLabel for="email" value="Email : " />
                    <p:inputText  id="email" required="false" autocomplete="off" size="40" value="#{guestPageBean.bioData.email}"
                                  placeholder="Enter your email"/>


                    <p:outputLabel for="otherEmail" value="Other Email : " />
                    <p:inputText  id="otherEmail" required="false" autocomplete="off" size="40" value="#{guestPageBean.bioData.altEmail}"
                                  placeholder="Enter your Other PhoneNo"/>

                    <p:outputLabel for="birthdayDate" value="Birthday : " />
                    <p:calendar id="birthdayDate" value="#{guestPageBean.bioData.birthday}" effect="clip"
                                showOn="both" navigator="true" required="false" pattern="dd-MMM-yyyy" maxdate="#{now}"/>


                    <p:outputLabel for="selAgeRange" value="Age Range : " />
                    <h:panelGroup>
                        <p:selectOneMenu id="selAgeRange" value="#{guestPageBean.bioData.ageRange}" required="true">
                            <f:selectItem itemLabel="-- Select--" itemValue="#{null}" />
                            <f:selectItem itemValue="#{projConstants.AGE_1}" itemLabel="#{projConstants.AGE_1}" />
                            <f:selectItem itemValue="#{projConstants.AGE_2}" itemLabel="#{projConstants.AGE_2}" />
                            <f:selectItem itemValue="#{projConstants.AGE_3}" itemLabel="#{projConstants.AGE_3}" />
                        </p:selectOneMenu>
                        <p:message for="selAgeRange" display="tooltip" />
                    </h:panelGroup>

                    <p:outputLabel for="addressTxtArea" value="Contact Address : " />
                    <h:panelGroup>
                        <p:inputTextarea id="addressTxtArea" rows="3" cols="43" placeholder="Contact address" autoResize="false"
                                         required="true" value="#{guestPageBean.bioData.contactAddress}"/>
                        <p:message for="addressTxtArea" display="tooltip" />
                    </h:panelGroup>

                    <p:outputLabel for="nearestBstpTxt" value="Nearest Bus Stop : " />
                    <h:panelGroup>
                        <p:inputText  id="nearestBstpTxt" required="true" autocomplete="off" size="40" value="#{guestPageBean.bioData.nearestBstp}"
                                      placeholder="Enter Nearest Bstop" />
                        <p:message for="nearestBstpTxt" display="tooltip" />
                    </h:panelGroup>

                    <p:outputLabel for="prayerRequests1" value="Prayer Request 1: " />
                    <p:inputText  id="prayerRequests1" required="false" autocomplete="off" size="40"
                                  value="#{guestPageBean.prayerData.prayerRequest1}"/>

                    <p:outputLabel for="prayerRequests2" value="Prayer Request 2: " />
                    <p:inputText  id="prayerRequests2" required="false" autocomplete="off" size="40" value="#{guestPageBean.prayerData.prayerRequest2}"/>

                    <p:outputLabel for="prayerRequests3" value="Prayer Request 3: " />
                    <p:inputText  id="prayerRequests3" required="false" autocomplete="off" size="40" value="#{guestPageBean.prayerData.prayerRequest3}"/>

                    <p:outputLabel for="prayerRequests4" value="Prayer Request 4: " />
                    <p:inputText  id="prayerRequests4" required="false" autocomplete="off" size="40" value="#{guestPageBean.prayerData.prayerRequest4}"/>
                </p:panelGrid>

            </div>
            <div class="card card-w-title">
                <h2 style="text-decoration: underline">Church Details</h2>
                <p:panelGrid columns="4" columnClasses="ui-g-12 ui-md-2,ui-g-12 ui-md-4,ui-g-12 ui-md-2 ui-grc-2,ui-g-12 ui-md-4" layout="grid"
                             styleClass="ui-panelgrid-blank form-group form-elements" style="border:0px none; background-color:transparent;">


                    <p:outputLabel for="selServiceType" value="Service Type : " />
                    <h:panelGroup>
                        <p:selectOneMenu id="selServiceType" value="#{guestPageBean.programData.serviceType}" required="true" >
                            <p:ajax listener="#{guestPageBean.selectServiceName}" update="selServiceName"/>
                            <f:selectItem itemLabel="-- Select--" itemValue="" noSelectionOption="true"/>
                            <f:selectItem itemValue="#{projConstants.MID_WEEK_SERVICE}" itemLabel="#{projConstants.MID_WEEK_SERVICE}" />
                            <f:selectItem itemValue="#{projConstants.SPECIAL_PROGRAM}" itemLabel="#{projConstants.SPECIAL_PROGRAM}" />
                            <f:selectItem itemValue="#{projConstants.SUNDAY_SERVICE}" itemLabel="#{projConstants.SUNDAY_SERVICE}" />
                        </p:selectOneMenu>
                        <p:message for="selServiceType" display="tooltip" />
                    </h:panelGroup>

                    <p:outputLabel for="selServiceName" value="Service Name : " />
                    <h:panelGroup>
                        <p:selectOneMenu id="selServiceName" value="#{guestPageBean.programData.serviceName}" required="true">
                            <f:selectItem itemLabel="-- Select Service--" itemValue="" noSelectionOption="true" />
                            <f:selectItems value="#{guestPageBean.serviceNames}"/>
                        </p:selectOneMenu>
                        <p:message for="selServiceName" display="tooltip" />
                    </h:panelGroup>


                    <p:outputLabel for="programDate" value="Date : " />
                    <h:panelGroup>
                        <p:calendar id="programDate" value="#{guestPageBean.programData.programDate}" effect="clip"
                                    showOn="both" navigator="true" required="true" pattern="dd-MMM-yyyy"
                                    maxdate="#{now}"/>
                        <p:message for="programDate" display="tooltip" />
                    </h:panelGroup>

                    <p:outputLabel for="selCategory" value="Category : " />
                    <h:panelGroup>
                        <p:selectManyCheckbox id="selCategory" value="#{guestPageBean.category}" layout="grid" required="true" columns="2">
                            <f:selectItem itemValue="#{projConstants.FIRST_TIMER}" itemLabel="#{projConstants.FIRST_TIMER}" />
                            <f:selectItem itemValue="#{projConstants.NEW_CONVERT}" itemLabel="#{projConstants.NEW_CONVERT}" />
                        </p:selectManyCheckbox>
                        <p:message for="selCategory" display="tooltip" />
                    </h:panelGroup>
                </p:panelGrid>
            </div>
        </div>
    </div>

</h:body>
</html>
