<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: ailori
  Date: 18-Aug-18
  Time: 9:57 PM
-->
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"    xmlns:o="http://omnifaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html">


<h:body>
    <div class="ui-g" style="border: 1px solid #3b5f7e ; border-radius: 8px;background: white">
        <div class="ui-g-12 ui-md-6 ui-lg-6">
            <h:outputText value="LIST GUESTS"/>
        </div>

        <div class="ui-g-12 ui-md-6 ui-lg-6">
            <div class="pull-right">
                <p:commandButton  value="New Guest" styleClass="raised-btn rounded-btn purple-btn"
                                  ajax="false" update="@form" icon="fa fa-fw fa-plus" action="#{guestPageBean.setPagePath(pageConstants.NEW_GUEST)}"/>
            </div>

        </div>
    </div>

    <div class="ui-g" style="border: 1px solid #3b5f7e ; border-radius: 8px; margin-top: 2px;">
        <div class="ui-g-12 ui-md-2 ui-lg-2">
            <p:outputLabel for="selServiceType" value="Service Type :" />
        </div>
        <div class="ui-g-12 ui-md-2 ui-lg-2">
            <p:selectOneMenu id="selServiceType" value="#{guestPageBean.guestsDataTableFilter.serviceType}" required="false" >
                <p:ajax listener="#{guestPageBean.selectServiceName2}" update="selServiceName"/>
                <f:selectItem itemLabel="-- Select--" itemValue="" noSelectionOption="true"/>
                <f:selectItem itemValue="#{projConstants.MID_WEEK_SERVICE}" itemLabel="#{projConstants.MID_WEEK_SERVICE}" />
                <f:selectItem itemValue="#{projConstants.SPECIAL_PROGRAM}" itemLabel="#{projConstants.SPECIAL_PROGRAM}" />
                <f:selectItem itemValue="#{projConstants.SUNDAY_SERVICE}" itemLabel="#{projConstants.SUNDAY_SERVICE}" />
            </p:selectOneMenu>
        </div>
        <div class="ui-g-12 ui-md-2 ui-lg-2">
            <p:outputLabel for="selServiceName" value="Service Name :" />
        </div>
        <div class="ui-g-12 ui-md-2 ui-lg-2">
            <p:selectOneMenu id="selServiceName" value="#{guestPageBean.guestsDataTableFilter.serviceName}" required="false">
                <f:selectItem itemLabel="-- Select Service--" itemValue="" noSelectionOption="true" />
                <f:selectItems value="#{guestPageBean.serviceNames}"/>
            </p:selectOneMenu>
        </div>

        <div class="ui-g-12 ui-md-2 ui-lg-2">
            <p:outputLabel for="selAgeRange" value="Age Range :" />
        </div>
        <div class="ui-g-12 ui-md-2 ui-lg-2">
            <p:selectOneMenu id="selAgeRange" value="#{guestPageBean.guestsDataTableFilter.ageRange}" required="false">
                <f:selectItem itemLabel="-- Select--" itemValue="#{null}" />
                <f:selectItem itemValue="#{projConstants.AGE_1}" itemLabel="#{projConstants.AGE_1}" />
                <f:selectItem itemValue="#{projConstants.AGE_2}" itemLabel="#{projConstants.AGE_2}" />
                <f:selectItem itemValue="#{projConstants.AGE_3}" itemLabel="#{projConstants.AGE_3}" />
            </p:selectOneMenu>
        </div>
        <div class="ui-g-12 ui-md-2 ui-lg-2">
            <p:outputLabel for="selCategory" value="Category : " />
        </div>
        <div class="ui-g-12 ui-md-2 ui-lg-2">
            <p:selectOneMenu id="selCategory" value="#{guestPageBean.guestsDataTableFilter.category}" required="false">
                <f:selectItem itemLabel="-- Select--" itemValue="#{null}" />
                <f:selectItem itemValue="#{projConstants.FIRST_TIMER}" itemLabel="#{projConstants.FIRST_TIMER}" />
                <f:selectItem itemValue="#{projConstants.NEW_CONVERT}" itemLabel="#{projConstants.NEW_CONVERT}" />
            </p:selectOneMenu>
        </div>
        <div class="ui-g-12 ui-md-2 ui-lg-2">
            <p:outputLabel for="dateFrom" value="From Date : " />
        </div>
        <div class="ui-g-12 ui-md-2 ui-lg-2">
            <p:calendar id="dateFrom" value="#{guestPageBean.guestsDataTableFilter.from}" effect="clip"
                        showOn="both" navigator="true" required="false" pattern="dd-MMM-yyyy"
                        maxdate="#{now}"/>
        </div>
        <div class="ui-g-12 ui-md-2 ui-lg-2">
            <p:outputLabel for="dateTo" value="To Date : " />
        </div>
        <div class="ui-g-12 ui-md-2 ui-lg-2">
            <p:calendar id="dateTo" value="#{guestPageBean.guestsDataTableFilter.to}" effect="clip"
                        showOn="both" navigator="true" required="false" pattern="dd-MMM-yyyy"
                        maxdate="#{now}"/>
        </div>
        <div class="ui-g-12">
            <div class="card card-w-title">
                <p:dataTable var="guest" value="#{guestPageBean.guestsData}" id="guestDataTable"
                             paginatorPosition="top" paginator="true" rows="40" rowIndexVar="rowIndex"
                             paginatorTemplate=" {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {Exporters} ">

                    <f:facet name="{Exporters}">
                        <div style="float:right">
                            <p:commandButton icon="fa fa-fw fa-search" ajax="false" value="Search"
                                             title="Search" styleClass="purple-btn raised-btn rounded-btn"
                                             action="#{guestPageBean.search}" update="guestDataTable"/>
                        </div>
                    </f:facet>

                    <f:facet name="paginatorTopLeft">
                        <p:commandButton icon="fa fa-fw fa-file-excel-o" ajax="false"
                                         title="Excel export" styleClass="purple-btn raised-btn rounded-btn"
                                         action="#{guestTableExcelBean.generateExcelSheet}"/>
                    </f:facet>



                    <p:column headerText="No" style="text-align: center;width: 35px;">
                        <h:outputText value="#{rowIndex+1}"/>
                    </p:column>

                    <p:column headerText="Full Name" style="text-align: left;width: 250px;">
                        <h:outputText value="#{guest.fullName}"/>
                    </p:column>

                    <p:column headerText="Service Type" style="text-align: left;">
                        <h:outputText value="#{guest.serviceType}"/>
                    </p:column>

                    <p:column headerText="Service Name" style="text-align: left;">
                        <h:outputText value="#{guest.serviceName}"/>
                    </p:column>

                    <p:column headerText="Service Date" style="text-align: center;width: 115px;">
                        <h:outputText value="#{guest.serviceDate}"/>
                    </p:column>

                    <p:column headerText="Age Range" style="text-align: center;width: 115px;">
                        <h:outputText value="#{guest.ageRange}"/>
                    </p:column>

                    <p:column headerText="Category" style="text-align: left;">
                        <h:outputText value="#{guest.category}"/>
                    </p:column>

                    <p:column headerText="Actions" style="text-align: center;width: 100px;" exportable="false">
                        <p:commandButton update="@form"
                                         icon="view-icon"
                                         title="View Details" class="img-button"
                                          action="#{guestPageBean.viewGuest(guest)}"/>

                        <span class="pnx-horizontal-seperator">|</span>

                        <p:commandButton update="@form"
                                         icon="edit-icon"
                                         title="Edit Details" class="img-button"
                                         action="#{guestPageBean.editGuest(guest)}"/>

                        <span class="pnx-horizontal-seperator">|</span>

                        <p:commandButton update=":homeForm:display" icon="delete-icon" oncomplete="PF('confirmDeleteDlg').show()"
                                         title="Delete" class="img-button">
                            <f:setPropertyActionListener value="#{guest.guestId}" target="#{guestPageBean.selGuestId}"/>
                        </p:commandButton>

                    </p:column>

                </p:dataTable>

                <p:dialog header="Confirm Delete" widgetVar="confirmDeleteDlg" modal="true" showEffect="fade"
                          hideEffect="explode" resizable="false">
                    <h:panelGrid id="display" columns="2" cellpadding="4" style="margin:0 auto;">


                        <p:commandButton id="deleteButton" actionListener="#{guestPageBean.deleteGuest()}"
                                         oncomplete="PF('confirmDeleteDlg').hide()" styleClass="raised-btn rounded-btn purple-btn"
                                         update="@form" value="Delete"/>

                        <p:commandButton id="cancelButton" onclick="PF('confirmDeleteDlg').hide()" value="Cancel"
                                         styleClass="raised-btn rounded-btn purple-btn"/>
                    </h:panelGrid>
                </p:dialog>
            </div>
        </div>
    </div>
</h:body>

</html>