<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:of="http://omnifaces.org/functions"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:body>
    <div class="ui-g" style="border: 1px solid #3b5f7e ; border-radius: 8px;background: white">
        <div class="ui-g-12 ui-md-6 ui-lg-6">
            <h:outputText value="VIEW GUEST"/>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-6">
            <div class="pull-right">
                <p:commandButton  value="Edit" styleClass="raised-btn rounded-btn" action="#{guestPageBean.editGuest()}"
                                  ajax="false" update="@form" icon="fa fa-fw fa-edit" style="margin-right: 5px;"/>
                <p:commandButton  value="List" styleClass="raised-btn rounded-btn" action="#{guestPageBean.setPagePath(pageConstants.LIST_GUESTS)}"
                                  ajax="false" update="@form" icon="fa fa-fw fa-list"/>
            </div>
        </div>
    </div>

    <div class="ui-g" style="border: 1px solid #3b5f7e ; border-radius: 8px; margin-top: 3px;">
        <div class="ui-g-12">
            <div class="card card-w-title">
                <h2 style="text-decoration: underline">Personal Details</h2>
                <p:panelGrid columns="4"
                             columnClasses="ui-g-12 ui-md-2,ui-g-12 ui-md-4,ui-g-12 ui-md-2 ui-grc-2,ui-g-12 ui-md-4" layout="grid"
                             styleClass="ui-panelgrid-blank form-group form-elements" style="border:0px none; background-color:transparent;">

                    <p:outputLabel  value="Surname : " />
                    <p:inputText readonly="true" value="#{guestPageBean.bioData.surname}"/>

                    <p:outputLabel  value="Other Names : " />
                    <p:inputText readonly="true" value="#{guestPageBean.bioData.otherNames}"/>

                    <p:outputLabel  value="Gender: " />
                    <p:inputText readonly="true" value="#{guestPageBean.bioData.gender}"/>

                    <p:outputLabel  value="Marital Status: " />
                    <p:inputText readonly="true" value="#{guestPageBean.bioData.maritalStatus}"/>

                    <p:outputLabel  value="Phone No : " />
                    <p:inputText readonly="true" value="#{guestPageBean.bioData.phoneNo}"/>

                    <p:outputLabel  value="Other Phone No : " />
                    <p:inputText readonly="true" value="#{guestPageBean.bioData.altPhoneNo}"/>

                    <p:outputLabel  value="Email : " />
                    <p:inputText readonly="true" value="#{guestPageBean.bioData.email}"/>

                    <p:outputLabel  value="Other Email : " />
                    <p:inputText readonly="true" value="#{guestPageBean.bioData.altEmail}"/>

                    <p:outputLabel  value="Birthday : " />
                    <p:inputText readonly="true" value="#{of:formatDate(guestPageBean.bioData.birthday,'dd-MM-yyyy')}"/>

                    <p:outputLabel  value="Age Range : " />
                    <p:inputText readonly="true" value="#{guestPageBean.bioData.ageRange}"/>

                    <p:outputLabel  value="Contact Address : " />
                    <p:inputTextarea rows="3" cols="43" readonly="true" value="#{guestPageBean.bioData.contactAddress}"/>


                    <p:outputLabel  value="Prayer Request 1: " />
                    <p:inputText readonly="true" value="#{guestPageBean.prayerData.prayerRequest1}"/>

                    <p:outputLabel  value="Prayer Request 2: " />
                    <p:inputText readonly="true" value="#{guestPageBean.prayerData.prayerRequest2}"/>

                    <p:outputLabel  value="Prayer Request 3: " />
                    <p:inputText readonly="true" value="#{guestPageBean.prayerData.prayerRequest3}"/>

                    <p:outputLabel  value="Prayer Request 4: " />
                    <p:inputText readonly="true" value="#{guestPageBean.prayerData.prayerRequest4}"/>


                </p:panelGrid>
            </div>
            <div class="card card-w-title">
                <h2 style="text-decoration: underline">Church Details</h2>
                <p:panelGrid columns="4" columnClasses="ui-g-12 ui-md-2,ui-g-12 ui-md-4,ui-g-12 ui-md-2 ui-grc-2,ui-g-12 ui-md-4" layout="grid"
                             styleClass="ui-panelgrid-blank form-group form-elements" style="border:0px none; background-color:transparent;">

                    <p:outputLabel value="Service Type : " />
                    <p:inputText readonly="true" value="#{guestPageBean.programData.serviceType}"/>

                    <p:outputLabel  value="Service Name : " />
                    <p:inputText readonly="true" value="#{guestPageBean.programData.serviceName}"/>

                    <p:outputLabel  value="Date : " />
                    <p:inputText readonly="true" value="#{of:formatDate(guestPageBean.programData.programDate,'dd-MM-yyyy')}"/>

                    <p:outputLabel  value="Category : " />
                    <p:inputText readonly="true" value="#{guestPageBean.bioData.category}"/>
                </p:panelGrid>
            </div>
        </div>

    </div>


</h:body>
</html>
