<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: ailori
  Date: 04-Aug-18
  Time: 11:31 PM
-->
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">

<h:body styleClass="login-body">
    <o:form id="loginForm">
        <p:growl id="growl" globalOnly="true" sticky="false"/>
        <div class="ui-g">
            <div class="ui-g-12" style="text-align:center">
                <p:graphicImage name="images/logo-manhattan.png" library="manhattan-layout" styleClass="logo" />
            </div>
        </div>
        <div class="login-panel ui-fluid">
            <div class="ui-g">
                <div class="ui-g-6 left-side">
                    <p:graphicImage name="images/login/login-photo.png" library="manhattan-layout" styleClass="login-image" />
                </div>
                <div class="ui-g-6 ui-sm-12 right-side">
                    <div class="ui-g-12">
                        <o:messages id="loginErrorMsg" layout="table" for="loginForm" message="#{login['login-content.validationMessage']}"
                                    styleClass="alert alert-danger"/>
                    </div>
                    <div class="ui-g-12">
                        <h3>Welcome !!</h3>
                    </div>
                    <div class="ui-g-12">
                        <p:outputLabel for="username" value="Username" />
                        <div class="input-wrapper">
                            <p:inputText id="username" placeholder="Username" value="#{loginBean.userName}"
                            required="true"/>
                            <i class="fa fa-user" />
                        </div>
                    </div>
                    <div class="ui-g-12">
                        <p:outputLabel for="password" value="Password" />
                        <div class="input-wrapper">
                            <p:password id="password" placeholder="Password" feedback="false"
                                        value="#{loginBean.password}" required="true"/>
                            <i class="fa fa-lock" />
                        </div>
                    </div>
                    <div class="ui-g-12 button-container">
                        <p:commandButton  value="Sign In" styleClass="raised-btn rounded-btn" action="#{loginBean.login}"
                                          ajax="false" update="@form"/>
                    </div>
                </div>
            </div>
        </div>
    </o:form>
    <h:outputStylesheet name="css/layout-indigo-purple.css" library="manhattan-layout" />
</h:body>
</html>

