@charset "UTF-8";
/* source-sans-pro-300 - latin-ext_latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url("#{resource['manhattan-layout:fonts/source-sans-pro-v10-latin-ext_latin-300.eot']}");
  /* IE9 Compat Modes */
  src: local("Source Sans Pro Light"), local("SourceSansPro-Light"), url("#{resource['manhattan-layout:fonts/source-sans-pro-v10-latin-ext_latin-300.eot']}#iefix") format("embedded-opentype"), url("#{resource['manhattan-layout:fonts/source-sans-pro-v10-latin-ext_latin-300.woff2']}") format("woff2"), url("#{resource['manhattan-layout:fonts/source-sans-pro-v10-latin-ext_latin-300.woff']}") format("woff"), url("#{resource['manhattan-layout:fonts/source-sans-pro-v10-latin-ext_latin-300.ttf']}") format("truetype"), url("#{resource['manhattan-layout:fonts/source-sans-pro-v10-latin-ext_latin-300.svg']}#SourceSansPro") format("svg");
  /* Legacy iOS */ }
/* source-sans-pro-regular - latin-ext_latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url("#{resource['manhattan-layout:fonts/source-sans-pro-v10-latin-ext_latin-regular.eot']}");
  /* IE9 Compat Modes */
  src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"), url("#{resource['manhattan-layout:fonts/source-sans-pro-v10-latin-ext_latin-regular.eot']}#iefix") format("embedded-opentype"), url("#{resource['manhattan-layout:fonts/source-sans-pro-v10-latin-ext_latin-regular.woff2']}") format("woff2"), url("#{resource['manhattan-layout:fonts/source-sans-pro-v10-latin-ext_latin-regular.woff']}") format("woff"), url("#{resource['manhattan-layout:fonts/source-sans-pro-v10-latin-ext_latin-regular.ttf']}") format("truetype"), url("#{resource['manhattan-layout:fonts/source-sans-pro-v10-latin-ext_latin-regular.svg']}#SourceSansPro") format("svg");
  /* Legacy iOS */ }
/* source-sans-pro-700 - latin-ext_latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: url("#{resource['manhattan-layout:fonts/source-sans-pro-v10-latin-ext_latin-700.eot']}");
  /* IE9 Compat Modes */
  src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"), url("#{resource['manhattan-layout:fonts/source-sans-pro-v10-latin-ext_latin-700.eot']}#iefix") format("embedded-opentype"), url("#{resource['manhattan-layout:fonts/source-sans-pro-v10-latin-ext_latin-700.woff2']}") format("woff2"), url("#{resource['manhattan-layout:fonts/source-sans-pro-v10-latin-ext_latin-700.woff']}") format("woff"), url("#{resource['manhattan-layout:fonts/source-sans-pro-v10-latin-ext_latin-700.ttf']}") format("truetype"), url("#{resource['manhattan-layout:fonts/source-sans-pro-v10-latin-ext_latin-700.svg']}#SourceSansPro") format("svg");
  /* Legacy iOS */ }
/* Utils */
.clearfix:after {
  content: " ";
  display: block;
  clear: both; }

.card {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #ffffff;
  padding: 16px;
  box-sizing: border-box;
  margin-bottom: 16px; }
  .card.card-w-title {
    padding-bottom: 16px; }
  .card.no-gutter {
    margin-bottom: 0; }
  .card h1 {
    font-size: 20px;
    font-weight: 400;
    margin: 24px 0; }
    .card h1:first-child {
      margin-top: 0px; }
  .card h2 {
    font-size: 18px;
    font-weight: 400; }
  .card h3 {
    font-size: 16px;
    font-weight: 400; }
  .card h4 {
    font-size: 14px;
    font-weight: 400; }

.nopad {
  padding: 0; }
  .nopad .ui-panel-content {
    padding: 0; }

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -20px, 0); }
  to {
    opacity: 1;
    transform: none; } }
@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); } }
@keyframes fadeOutUp {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); } }
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown; }

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp; }

.ui-shadow-1 {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.ui-shadow-2 {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.ui-shadow-3 {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.ui-shadow-4 {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.ui-shadow-5 {
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

.ui-g {
  -ms-flex-wrap: wrap; }
  .ui-g.form-group > div {
    padding: 6px; }

.ui-panelgrid.form-group .ui-panelgrid-cell {
  padding: 6px; }
.ui-panelgrid.ui-panelgrid-blank .ui-grid-responsive .ui-grid-row {
  border: 0 none; }

.ui-selectoneradio.form-group .ui-grid-row > div,
.ui-selectmanycheckbox.form-group .ui-grid-row > div {
  padding: 6px; }

.dashboard .overview-box {
  color: #ffffff;
  margin-bottom: 0;
  padding: 16px; }
  .dashboard .overview-box .overview-box-icon {
    height: 48px;
    width: 48px;
    line-height: 48px;
    text-align: center;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    margin-top: 16px; }
    .dashboard .overview-box .overview-box-icon i {
      line-height: inherit;
      font-size: 36px; }
  .dashboard .overview-box .overview-box-content {
    display: inline-block;
    padding-left: 8px; }
    .dashboard .overview-box .overview-box-content .overview-box-title {
      font-size: 20px;
      margin-bottom: 8px; }
    .dashboard .overview-box .overview-box-content .overview-box-stats {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 8px; }
    .dashboard .overview-box .overview-box-content .overview-box-details {
      font-size: 12px;
      font-weight: 700; }
  .dashboard .overview-box.overview-box-1 {
    background-color: #06bad2; }
    .dashboard .overview-box.overview-box-1 .overview-box-icon {
      background-color: #047888;
      -webkit-box-shadow: 0 0 10px 0 rgba(0, 78, 88, 0.6);
      -moz-box-shadow: 0 0 10px 0 rgba(0, 78, 88, 0.6);
      box-shadow: 0 0 10px 0 rgba(0, 78, 88, 0.6); }
      .dashboard .overview-box.overview-box-1 .overview-box-icon i {
        color: #06bad2; }
    .dashboard .overview-box.overview-box-1 .overview-box-details {
      color: #047888; }
  .dashboard .overview-box.overview-box-2 {
    background-color: #ffc700; }
    .dashboard .overview-box.overview-box-2 .overview-box-icon {
      background-color: #a98400;
      -webkit-box-shadow: 0 0 10px 0 rgba(72, 57, 0, 0.6);
      -moz-box-shadow: 0 0 10px 0 rgba(72, 57, 0, 0.6);
      box-shadow: 0 0 10px 0 rgba(72, 57, 0, 0.6); }
      .dashboard .overview-box.overview-box-2 .overview-box-icon i {
        color: #ffc700; }
    .dashboard .overview-box.overview-box-2 .overview-box-details {
      color: #b38b00; }
  .dashboard .overview-box.overview-box-3 {
    background-color: #633ea5; }
    .dashboard .overview-box.overview-box-3 .overview-box-icon {
      background-color: #a06bff;
      -webkit-box-shadow: 0 0 10px 0 rgba(48, 28, 84, 0.6);
      -moz-box-shadow: 0 0 10px 0 rgba(48, 28, 84, 0.6);
      box-shadow: 0 0 10px 0 rgba(48, 28, 84, 0.6); }
      .dashboard .overview-box.overview-box-3 .overview-box-icon i {
        color: #633ea5; }
    .dashboard .overview-box.overview-box-3 .overview-box-details {
      color: #a78ed5; }
  .dashboard .overview-box.overview-box-4 {
    background-color: #ed3c76; }
    .dashboard .overview-box.overview-box-4 .overview-box-icon {
      background-color: #981d56;
      -webkit-box-shadow: 0 0 10px 0 rgba(81, 13, 44, 0.6);
      -moz-box-shadow: 0 0 10px 0 rgba(81, 13, 44, 0.6);
      box-shadow: 0 0 10px 0 rgba(81, 13, 44, 0.6); }
      .dashboard .overview-box.overview-box-4 .overview-box-icon i {
        color: #ed3c76; }
    .dashboard .overview-box.overview-box-4 .overview-box-details {
      color: #9b0e3c; }
.dashboard .global-sales .header-helper {
  float: right;
  opacity: 0.7;
  filter: alpha(opacity=70); }
.dashboard .global-sales .ui-panel-content {
  padding: 14px 9px 0px 9px; }
.dashboard .global-sales table {
  width: 100%;
  border-collapse: collapse; }
  .dashboard .global-sales table th {
    font-weight: 700;
    text-align: left;
    padding: 8px 5px; }
  .dashboard .global-sales table tbody tr {
    border-top: 1px solid #d8dae2; }
    .dashboard .global-sales table tbody tr img {
      width: 36px;
      height: 36px; }
    .dashboard .global-sales table tbody tr td {
      padding: 8px 5px; }
      .dashboard .global-sales table tbody tr td:nth-child(1) {
        font-weight: 700;
        text-align: center; }
      .dashboard .global-sales table tbody tr td:nth-child(3) {
        font-weight: 700; }
.dashboard .stats .ui-panel-content {
  padding: 0;
  padding-top: 24px;
  text-align: center; }
.dashboard .stats .knob {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  border: 5px solid #dee4e9; }
  .dashboard .stats .knob.knob-1 {
    border-right-color: #ed3c76;
    border-bottom-color: #ed3c76;
    border-left-color: #ed3c76;
    width: 200px;
    height: 200px; }
  .dashboard .stats .knob.knob-2 {
    border-right-color: #147df0;
    border-bottom-color: #147df0;
    width: 160px;
    height: 160px;
    margin-top: 14px; }
  .dashboard .stats .knob.knob-3 {
    border-right-color: #599597;
    border-right-color: #06bad2;
    width: 120px;
    height: 120px;
    margin-top: 14px; }
.dashboard .stats .legend {
  text-align: center;
  margin: 16px 0;
  font-weight: 700;
  font-size: 12px; }
  .dashboard .stats .legend .legend-color {
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-bottom: 4px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%; }
  .dashboard .stats .legend .legend-number {
    color: #7e80a5; }
  .dashboard .stats .legend .idle .legend-color {
    background-color: #599597; }
  .dashboard .stats .legend .pending .legend-color {
    background-color: #147df0; }
  .dashboard .stats .legend .completed .legend-color {
    background-color: #ed3c76; }
.dashboard .task-list {
  overflow: hidden; }
  .dashboard .task-list > .ui-panel {
    min-height: 340px; }
  .dashboard .task-list .ui-panel-content {
    padding: 0px !important;
    min-height: 340px; }
  .dashboard .task-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .dashboard .task-list ul li {
      padding: 6px 12px;
      border-bottom: 1px solid #d8dae2; }
      .dashboard .task-list ul li:last-child {
        border-bottom: 0 none; }
    .dashboard .task-list ul .ui-chkbox {
      vertical-align: middle;
      margin-right: 5px; }
    .dashboard .task-list ul .task-name {
      vertical-align: middle; }
    .dashboard .task-list ul i {
      color: #7e80a5;
      float: right;
      font-size: 16px; }
.dashboard .contact-form {
  overflow: hidden; }
  .dashboard .contact-form .ui-panel .ui-panel-content {
    min-height: 340px; }
  .dashboard .contact-form .ui-g-12 {
    padding: 6px 12px; }
  .dashboard .contact-form .ui-button {
    margin-top: 14px; }
.dashboard .contacts {
  overflow: hidden; }
  .dashboard .contacts .ui-panel .ui-panel-content {
    min-height: 340px;
    padding: 0px !important; }
  .dashboard .contacts ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
    .dashboard .contacts ul li {
      border-bottom: 1px solid #d8dae2;
      padding: 9px;
      width: 100%;
      box-sizing: border-box;
      text-decoration: none;
      position: relative;
      display: block;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      -moz-transition: background-color 0.2s;
      -o-transition: background-color 0.2s;
      -webkit-transition: background-color 0.2s;
      transition: background-color 0.2s; }
      .dashboard .contacts ul li img {
        float: left;
        margin-right: 8px; }
      .dashboard .contacts ul li .contact-info {
        float: left; }
        .dashboard .contacts ul li .contact-info .name {
          display: block;
          margin-top: 4px;
          font-size: 14px; }
        .dashboard .contacts ul li .contact-info .location {
          margin-top: 4px;
          display: block;
          font-size: 12px;
          color: #7e80a5; }
      .dashboard .contacts ul li .contact-actions {
        float: right;
        padding-top: 12px; }
        .dashboard .contacts ul li .contact-actions .connection-status {
          color: #ffffff;
          padding: 2px 3px;
          -moz-border-radius: 2px;
          -webkit-border-radius: 2px;
          border-radius: 2px; }
          .dashboard .contacts ul li .contact-actions .connection-status.online {
            background-color: #56b927; }
          .dashboard .contacts ul li .contact-actions .connection-status.offline {
            background-color: #ea6062; }
        .dashboard .contacts ul li .contact-actions .fa {
          color: #7e80a5;
          margin-left: 5px; }
      .dashboard .contacts ul li:last-child {
        border: 0; }
.dashboard .timeline {
  height: 100%;
  box-sizing: border-box; }
  .dashboard .timeline > .ui-g .ui-g-3 {
    font-size: 14px;
    position: relative;
    border-right: 1px solid #d8dae2; }
    .dashboard .timeline > .ui-g .ui-g-3 i {
      background-color: #ffffff;
      font-size: 24px;
      position: absolute;
      top: 6px;
      right: -12px; }
  .dashboard .timeline > .ui-g .ui-g-9 {
    padding-left: 1.5em; }
    .dashboard .timeline > .ui-g .ui-g-9 .event-text {
      color: #7e80a5;
      font-size: 14px;
      display: block;
      padding-bottom: 20px; }
    .dashboard .timeline > .ui-g .ui-g-9 .event-content img {
      width: 100%; }
.dashboard .chat .ui-panel-content {
  padding: 0 !important; }
.dashboard .chat ul {
  padding: 12px;
  margin: 0;
  list-style-type: none; }
  .dashboard .chat ul li {
    padding: 6px 0; }
    .dashboard .chat ul li img {
      width: 36px;
      float: left; }
    .dashboard .chat ul li span {
      padding: 6px 12px;
      float: left;
      display: inline-block;
      margin: 4px 0;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px; }
    .dashboard .chat ul li.message-from img, .dashboard .chat ul li.message-from span {
      float: left; }
    .dashboard .chat ul li.message-from img {
      margin-right: 8px; }
    .dashboard .chat ul li.message-from span {
      background-color: #ddf7f9; }
    .dashboard .chat ul li.message-own img, .dashboard .chat ul li.message-own span {
      float: right; }
    .dashboard .chat ul li.message-own img {
      margin-left: 8px; }
    .dashboard .chat ul li.message-own span {
      background-color: #ede4fb; }
.dashboard .chat .new-message {
  height: 40px;
  border-top: 1px solid #d8dae2;
  color: #afafc0; }
  .dashboard .chat .new-message .message-attachment {
    display: inline-block;
    border-right: 1px solid #d8dae2;
    width: 40px;
    line-height: 40px;
    height: 100%;
    text-align: center; }
    .dashboard .chat .new-message .message-attachment i {
      line-height: inherit;
      font-size: 24px; }
  .dashboard .chat .new-message .message-input {
    position: relative;
    top: -4px;
    width: calc(100% - 100px);
    display: inline-block; }
    .dashboard .chat .new-message .message-input input {
      border: 0 none;
      font-size: 14px;
      width: 100%;
      background-color: transparent;
      outline: 0 none;
      padding-left: 8px; }
.dashboard .user-card {
  border: 1px solid #d8dae2;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px; }
  .dashboard .user-card .user-card-header {
    height: 100px;
    overflow: hidden;
    background: #ffe0ee; }
    .dashboard .user-card .user-card-header img {
      width: 100%; }
  .dashboard .user-card .user-card-content {
    min-height: 340px;
    background-color: #ffffff; }
    .dashboard .user-card .user-card-content img {
      margin: -40px 0 0 24px; }
    .dashboard .user-card .user-card-content .ui-button {
      float: right;
      width: 36px;
      height: 36px;
      margin: 16px 24px 0 0; }
    .dashboard .user-card .user-card-content .user-card-name {
      font-size: 20px;
      color: #ffffff;
      position: relative;
      top: -70px;
      margin-left: 110px;
      font-weight: 700;
      white-space: nowrap; }
    .dashboard .user-card .user-card-content .user-detail {
      text-align: left; }
      .dashboard .user-card .user-card-content .user-detail ul {
        padding: 0px 0 32px 0;
        margin: 0;
        list-style-type: none; }
        .dashboard .user-card .user-card-content .user-detail ul li {
          padding: 16px 24px;
          border-top: 1px solid #d8dae2; }
          .dashboard .user-card .user-card-content .user-detail ul li:last-child {
            border-bottom: 1px solid #d8dae2; }
          .dashboard .user-card .user-card-content .user-detail ul li i {
            font-size: 24px;
            margin-right: 8px;
            width: 32px;
            vertical-align: middle; }
          .dashboard .user-card .user-card-content .user-detail ul li .project-title {
            font-weight: 700;
            margin-right: 8px; }
          .dashboard .user-card .user-card-content .user-detail ul li .project-detail {
            color: #7e80a5; }
          .dashboard .user-card .user-card-content .user-detail ul li .project-progressbar {
            display: inline-block;
            width: 100px;
            background-color: #d8dae2;
            float: right;
            margin-top: 12px; }
            .dashboard .user-card .user-card-content .user-detail ul li .project-progressbar .project-progressbar-value {
              background-color: #000000;
              height: 4px; }

.layout-rightpanel .layout-rightpanel-header {
  background: url("#{resource['manhattan-layout:images/dashboard/sidebar-image.jpg']}") no-repeat;
  height: 118px;
  padding: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .layout-rightpanel .layout-rightpanel-header .weather-day, .layout-rightpanel .layout-rightpanel-header .weather-date {
    color: #ffffff;
    left: 14px;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 4px; }
.layout-rightpanel .layout-rightpanel-content {
  padding: 14px; }
  .layout-rightpanel .layout-rightpanel-content h1 {
    font-size: 18px;
    margin: 0 0 4px 0; }
  .layout-rightpanel .layout-rightpanel-content h2 {
    font-size: 16px;
    margin: 0;
    color: #7e80a5;
    font-weight: normal; }
  .layout-rightpanel .layout-rightpanel-content .weather-today {
    text-align: center;
    margin-top: 28px; }
    .layout-rightpanel .layout-rightpanel-content .weather-today .weather-today-value {
      font-size: 36px;
      vertical-align: middle;
      margin-right: 14px; }
    .layout-rightpanel .layout-rightpanel-content .weather-today img {
      vertical-align: middle; }
  .layout-rightpanel .layout-rightpanel-content .weekly-weather {
    list-style-type: none;
    margin: 28px 0 0 0;
    padding: 0; }
    .layout-rightpanel .layout-rightpanel-content .weekly-weather li {
      padding: 8px 14px;
      border-bottom: 1px solid #d8dae2;
      position: relative; }
      .layout-rightpanel .layout-rightpanel-content .weekly-weather li .weekly-weather-value {
        position: absolute;
        right: 40px; }
      .layout-rightpanel .layout-rightpanel-content .weekly-weather li img {
        width: 24px;
        position: absolute;
        right: 0px;
        top: 4px; }

.login-body {
  background-image: linear-gradient(235deg, #565867, #191a25);
  background-size: cover;
  height: auto; }
  .login-body .logo {
    margin-top: 30px; }
  .login-body .login-panel {
    width: 650px;
    background-color: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -325px;
    margin-top: -260px; }
    .login-body .login-panel .ui-g-6 {
      padding: 0; }
    .login-body .login-panel .right-side {
      padding: 100px 0; }
    .login-body .login-panel .ui-g-12 {
      padding: 10px 50px 10px 50px; }
      .login-body .login-panel .ui-g-12.container {
        margin-bottom: 20px; }
        .login-body .login-panel .ui-g-12.container h2 {
          color: #272939;
          font-size: 14px;
          font-weight: 600;
          margin-top: 6px;
          margin-bottom: 0; }
        .login-body .login-panel .ui-g-12.container h3 {
          color: #b7b7c3;
          font-size: 14px;
          font-weight: 600;
          margin-bottom: 0; }
    .login-body .login-panel .login-image {
      height: 100%;
      width: 100%; }
    .login-body .login-panel .input-wrapper {
      position: relative; }
      .login-body .login-panel .input-wrapper i {
        position: absolute;
        color: #bdc3c9;
        top: 5px;
        right: 8px;
        font-size: 16px; }
      .login-body .login-panel .input-wrapper input {
        padding-right: 22px; }
    .login-body .login-panel label {
      display: block;
      margin-bottom: 8px; }
    .login-body .login-panel button {
      display: block;
      margin-bottom: 20px; }

@media (max-width: 640px) {
  .login-body .login-panel {
    width: 100%;
    margin: 0;
    left: 0;
    top: 150px; }
    .login-body .login-panel .ui-g-12 {
      padding: 15px 50px; }
    .login-body .login-panel .left-side {
      display: none; }
    .login-body .login-panel .right-side {
      padding: 0; } }
.exception-body {
  background-size: cover;
  overflow: hidden;
  margin: 0 auto;
  position: relative; }
  .exception-body.error, .exception-body.access, .exception-body.notfound {
    background-image: linear-gradient(235deg, #565867, #191a25); }
  .exception-body .logo-container {
    text-align: center;
    margin-top: 30px; }
  .exception-body .exception-panel {
    width: 400px;
    margin: 0 auto;
    margin-top: -225px;
    margin-left: -200px;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%; }
    .exception-body .exception-panel .exception-panel-content {
      padding: 50px 20px 25px 20px;
      color: #ffffff; }
      .exception-body .exception-panel .exception-panel-content.error {
        padding: 50px 50px 25px 0; }
      .exception-body .exception-panel .exception-panel-content h1 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 105px;
        font-weight: 900; }
        .exception-body .exception-panel .exception-panel-content h1.title {
          font-size: 200px; }
      .exception-body .exception-panel .exception-panel-content span.secondary {
        margin: 0;
        font-size: 90px;
        font-weight: 300;
        margin-left: 110px;
        position: relative;
        top: -25px; }
      .exception-body .exception-panel .exception-panel-content .information-text {
        margin-left: 35px; }
      .exception-body .exception-panel .exception-panel-content p {
        font-weight: 400;
        margin: 0; }
  .exception-body .particle {
    position: absolute;
    opacity: 0;
    overflow: visible;
    background-size: contain;
    background-repeat: no-repeat; }

@media (max-width: 1024px) {
  .exception-body .particle {
    display: none; } }
@media (max-width: 640px) {
  .exception-body.notfound .exception-panel {
    margin-top: -250px; }
  .exception-body .exception-panel {
    margin-top: -175px; }
    .exception-body .exception-panel .exception-panel-content {
      padding: 50px 10px 25px 10px; }
      .exception-body .exception-panel .exception-panel-content h1 {
        margin-left: -25px;
        font-size: 90px; }
      .exception-body .exception-panel .exception-panel-content span.secondary {
        font-size: 70px;
        margin-left: 80px; }
    .exception-body .exception-panel .ui-g-12 {
      padding: 15px 50px; } }
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
@keyframes animation1 {
  0% {
    transform: translate(-68px, 4px); }
  4.76% {
    transform: translate(-36px, -23px); }
  9.52% {
    transform: translate(-4px, -23px); }
  14.29% {
    transform: translate(28px, 4px); }
  19.05% {
    transform: translate(60px, 4px); }
  23.81% {
    transform: translate(92px, 4px); }
  28.57% {
    transform: translate(124px, 4px); }
  33.33% {
    transform: translate(156px, 31px); }
  38.1% {
    transform: translate(188px, 58px); }
  42.86% {
    transform: translate(220px, 85px); }
  47.62% {
    transform: translate(252px, 58px); }
  52.38% {
    transform: translate(284px, 85px); }
  57.14% {
    transform: translate(316px, 112px); }
  61.9% {
    transform: translate(348px, 112px); }
  66.67% {
    transform: translate(380px, 85px); }
  71.43% {
    transform: translate(412px, 85px); }
  76.19% {
    transform: translate(444px, 112px); }
  80.95% {
    transform: translate(476px, 139px); }
  85.71% {
    transform: translate(508px, 166px); }
  90.48% {
    transform: translate(540px, 166px); }
  95.24% {
    transform: translate(572px, 139px); }
  100% {
    transform: translate(604px, 112px); }
  0% {
    opacity: 0; }
  15% {
    opacity: 1; }
  85% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes animation2 {
  0% {
    transform: translate(412px, 949px); }
  7.14% {
    transform: translate(444px, 949px); }
  14.29% {
    transform: translate(476px, 922px); }
  21.43% {
    transform: translate(508px, 949px); }
  28.57% {
    transform: translate(540px, 922px); }
  35.71% {
    transform: translate(572px, 895px); }
  42.86% {
    transform: translate(604px, 922px); }
  50% {
    transform: translate(636px, 922px); }
  57.14% {
    transform: translate(668px, 922px); }
  64.29% {
    transform: translate(700px, 949px); }
  71.43% {
    transform: translate(732px, 976px); }
  78.57% {
    transform: translate(764px, 976px); }
  85.71% {
    transform: translate(796px, 1003px); }
  92.86% {
    transform: translate(828px, 1003px); }
  100% {
    transform: translate(860px, 1030px); }
  0% {
    opacity: 0; }
  15% {
    opacity: 1; }
  85% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes animation3 {
  0% {
    transform: translate(828px, 787px); }
  8.33% {
    transform: translate(860px, 760px); }
  16.67% {
    transform: translate(892px, 760px); }
  25% {
    transform: translate(924px, 787px); }
  33.33% {
    transform: translate(956px, 814px); }
  41.67% {
    transform: translate(988px, 814px); }
  50% {
    transform: translate(1020px, 787px); }
  58.33% {
    transform: translate(1052px, 814px); }
  66.67% {
    transform: translate(1084px, 841px); }
  75% {
    transform: translate(1116px, 868px); }
  83.33% {
    transform: translate(1148px, 841px); }
  91.67% {
    transform: translate(1180px, 841px); }
  100% {
    transform: translate(1212px, 868px); }
  0% {
    opacity: 0; }
  15% {
    opacity: 1; }
  85% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes animation4 {
  0% {
    transform: translate(700px, 625px); }
  5.26% {
    transform: translate(732px, 625px); }
  10.53% {
    transform: translate(764px, 652px); }
  15.79% {
    transform: translate(796px, 679px); }
  21.05% {
    transform: translate(828px, 679px); }
  26.32% {
    transform: translate(860px, 706px); }
  31.58% {
    transform: translate(892px, 679px); }
  36.84% {
    transform: translate(924px, 652px); }
  42.11% {
    transform: translate(956px, 652px); }
  47.37% {
    transform: translate(988px, 625px); }
  52.63% {
    transform: translate(1020px, 598px); }
  57.89% {
    transform: translate(1052px, 598px); }
  63.16% {
    transform: translate(1084px, 598px); }
  68.42% {
    transform: translate(1116px, 625px); }
  73.68% {
    transform: translate(1148px, 625px); }
  78.95% {
    transform: translate(1180px, 652px); }
  84.21% {
    transform: translate(1212px, 625px); }
  89.47% {
    transform: translate(1244px, 652px); }
  94.74% {
    transform: translate(1276px, 652px); }
  100% {
    transform: translate(1308px, 625px); }
  0% {
    opacity: 0; }
  15% {
    opacity: 1; }
  85% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes animation5 {
  0% {
    transform: translate(-36px, 1003px); }
  8.33% {
    transform: translate(-4px, 1003px); }
  16.67% {
    transform: translate(28px, 1030px); }
  25% {
    transform: translate(60px, 1030px); }
  33.33% {
    transform: translate(92px, 1003px); }
  41.67% {
    transform: translate(124px, 1030px); }
  50% {
    transform: translate(156px, 1057px); }
  58.33% {
    transform: translate(188px, 1084px); }
  66.67% {
    transform: translate(220px, 1111px); }
  75% {
    transform: translate(252px, 1084px); }
  83.33% {
    transform: translate(284px, 1084px); }
  91.67% {
    transform: translate(316px, 1057px); }
  100% {
    transform: translate(348px, 1084px); }
  0% {
    opacity: 0; }
  15% {
    opacity: 1; }
  85% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes animation6 {
  0% {
    transform: translate(476px, 868px); }
  20% {
    transform: translate(508px, 868px); }
  40% {
    transform: translate(540px, 895px); }
  60% {
    transform: translate(572px, 922px); }
  80% {
    transform: translate(604px, 949px); }
  100% {
    transform: translate(636px, 976px); }
  0% {
    opacity: 0; }
  15% {
    opacity: 1; }
  85% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes animation7 {
  0% {
    transform: translate(1116px, 490px); }
  25% {
    transform: translate(1148px, 490px); }
  50% {
    transform: translate(1180px, 490px); }
  75% {
    transform: translate(1212px, 517px); }
  100% {
    transform: translate(1244px, 490px); }
  0% {
    opacity: 0; }
  15% {
    opacity: 1; }
  85% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes animation8 {
  0% {
    transform: translate(380px, 949px); }
  20% {
    transform: translate(412px, 949px); }
  40% {
    transform: translate(444px, 976px); }
  60% {
    transform: translate(476px, 949px); }
  80% {
    transform: translate(508px, 922px); }
  100% {
    transform: translate(540px, 922px); }
  0% {
    opacity: 0; }
  15% {
    opacity: 1; }
  85% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes animation9 {
  0% {
    transform: translate(60px, 85px); }
  5% {
    transform: translate(92px, 112px); }
  10% {
    transform: translate(124px, 139px); }
  15% {
    transform: translate(156px, 139px); }
  20% {
    transform: translate(188px, 139px); }
  25% {
    transform: translate(220px, 166px); }
  30% {
    transform: translate(252px, 193px); }
  35% {
    transform: translate(284px, 220px); }
  40% {
    transform: translate(316px, 193px); }
  45% {
    transform: translate(348px, 166px); }
  50% {
    transform: translate(380px, 193px); }
  55% {
    transform: translate(412px, 193px); }
  60% {
    transform: translate(444px, 193px); }
  65% {
    transform: translate(476px, 166px); }
  70% {
    transform: translate(508px, 139px); }
  75% {
    transform: translate(540px, 112px); }
  80% {
    transform: translate(572px, 85px); }
  85% {
    transform: translate(604px, 85px); }
  90% {
    transform: translate(636px, 58px); }
  95% {
    transform: translate(668px, 58px); }
  100% {
    transform: translate(700px, 31px); }
  0% {
    opacity: 0; }
  15% {
    opacity: 1; }
  85% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes animation10 {
  0% {
    transform: translate(188px, 31px); }
  2.94% {
    transform: translate(220px, 4px); }
  5.88% {
    transform: translate(252px, 31px); }
  8.82% {
    transform: translate(284px, 4px); }
  11.76% {
    transform: translate(316px, -23px); }
  14.71% {
    transform: translate(348px, -23px); }
  17.65% {
    transform: translate(380px, -50px); }
  20.59% {
    transform: translate(412px, -50px); }
  23.53% {
    transform: translate(444px, -50px); }
  26.47% {
    transform: translate(476px, -23px); }
  29.41% {
    transform: translate(508px, -50px); }
  32.35% {
    transform: translate(540px, -50px); }
  35.29% {
    transform: translate(572px, -50px); }
  38.24% {
    transform: translate(604px, -23px); }
  41.18% {
    transform: translate(636px, 4px); }
  44.12% {
    transform: translate(668px, 4px); }
  47.06% {
    transform: translate(700px, -23px); }
  50% {
    transform: translate(732px, -50px); }
  52.94% {
    transform: translate(764px, -23px); }
  55.88% {
    transform: translate(796px, -23px); }
  58.82% {
    transform: translate(828px, -23px); }
  61.76% {
    transform: translate(860px, -50px); }
  64.71% {
    transform: translate(892px, -50px); }
  67.65% {
    transform: translate(924px, -50px); }
  70.59% {
    transform: translate(956px, -23px); }
  73.53% {
    transform: translate(988px, -23px); }
  76.47% {
    transform: translate(1020px, -50px); }
  79.41% {
    transform: translate(1052px, -23px); }
  82.35% {
    transform: translate(1084px, -23px); }
  85.29% {
    transform: translate(1116px, -23px); }
  88.24% {
    transform: translate(1148px, -50px); }
  91.18% {
    transform: translate(1180px, -50px); }
  94.12% {
    transform: translate(1212px, -23px); }
  97.06% {
    transform: translate(1244px, -23px); }
  100% {
    transform: translate(1276px, 4px); }
  0% {
    opacity: 0; }
  15% {
    opacity: 1; }
  85% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes animation11 {
  0% {
    transform: translate(156px, 463px); }
  12.5% {
    transform: translate(188px, 463px); }
  25% {
    transform: translate(220px, 463px); }
  37.5% {
    transform: translate(252px, 490px); }
  50% {
    transform: translate(284px, 517px); }
  62.5% {
    transform: translate(316px, 490px); }
  75% {
    transform: translate(348px, 490px); }
  87.5% {
    transform: translate(380px, 490px); }
  100% {
    transform: translate(412px, 517px); }
  0% {
    opacity: 0; }
  15% {
    opacity: 1; }
  85% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes animation12 {
  0% {
    transform: translate(156px, 895px); }
  5.56% {
    transform: translate(188px, 895px); }
  11.11% {
    transform: translate(220px, 895px); }
  16.67% {
    transform: translate(252px, 922px); }
  22.22% {
    transform: translate(284px, 922px); }
  27.78% {
    transform: translate(316px, 895px); }
  33.33% {
    transform: translate(348px, 895px); }
  38.89% {
    transform: translate(380px, 895px); }
  44.44% {
    transform: translate(412px, 895px); }
  50% {
    transform: translate(444px, 868px); }
  55.56% {
    transform: translate(476px, 868px); }
  61.11% {
    transform: translate(508px, 841px); }
  66.67% {
    transform: translate(540px, 868px); }
  72.22% {
    transform: translate(572px, 868px); }
  77.78% {
    transform: translate(604px, 868px); }
  83.33% {
    transform: translate(636px, 868px); }
  88.89% {
    transform: translate(668px, 868px); }
  94.44% {
    transform: translate(700px, 841px); }
  100% {
    transform: translate(732px, 841px); }
  0% {
    opacity: 0; }
  15% {
    opacity: 1; }
  85% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes animation13 {
  0% {
    transform: translate(28px, 85px); }
  5.88% {
    transform: translate(60px, 112px); }
  11.76% {
    transform: translate(92px, 139px); }
  17.65% {
    transform: translate(124px, 166px); }
  23.53% {
    transform: translate(156px, 139px); }
  29.41% {
    transform: translate(188px, 166px); }
  35.29% {
    transform: translate(220px, 166px); }
  41.18% {
    transform: translate(252px, 166px); }
  47.06% {
    transform: translate(284px, 139px); }
  52.94% {
    transform: translate(316px, 139px); }
  58.82% {
    transform: translate(348px, 166px); }
  64.71% {
    transform: translate(380px, 193px); }
  70.59% {
    transform: translate(412px, 220px); }
  76.47% {
    transform: translate(444px, 193px); }
  82.35% {
    transform: translate(476px, 193px); }
  88.24% {
    transform: translate(508px, 220px); }
  94.12% {
    transform: translate(540px, 220px); }
  100% {
    transform: translate(572px, 193px); }
  0% {
    opacity: 0; }
  15% {
    opacity: 1; }
  85% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes animation14 {
  0% {
    transform: translate(316px, 895px); }
  2.86% {
    transform: translate(348px, 922px); }
  5.71% {
    transform: translate(380px, 949px); }
  8.57% {
    transform: translate(412px, 922px); }
  11.43% {
    transform: translate(444px, 949px); }
  14.29% {
    transform: translate(476px, 922px); }
  17.14% {
    transform: translate(508px, 922px); }
  20% {
    transform: translate(540px, 949px); }
  22.86% {
    transform: translate(572px, 949px); }
  25.71% {
    transform: translate(604px, 949px); }
  28.57% {
    transform: translate(636px, 976px); }
  31.43% {
    transform: translate(668px, 949px); }
  34.29% {
    transform: translate(700px, 949px); }
  37.14% {
    transform: translate(732px, 976px); }
  40% {
    transform: translate(764px, 976px); }
  42.86% {
    transform: translate(796px, 949px); }
  45.71% {
    transform: translate(828px, 922px); }
  48.57% {
    transform: translate(860px, 922px); }
  51.43% {
    transform: translate(892px, 895px); }
  54.29% {
    transform: translate(924px, 868px); }
  57.14% {
    transform: translate(956px, 895px); }
  60% {
    transform: translate(988px, 868px); }
  62.86% {
    transform: translate(1020px, 895px); }
  65.71% {
    transform: translate(1052px, 868px); }
  68.57% {
    transform: translate(1084px, 841px); }
  71.43% {
    transform: translate(1116px, 814px); }
  74.29% {
    transform: translate(1148px, 787px); }
  77.14% {
    transform: translate(1180px, 814px); }
  80% {
    transform: translate(1212px, 814px); }
  82.86% {
    transform: translate(1244px, 787px); }
  85.71% {
    transform: translate(1276px, 760px); }
  88.57% {
    transform: translate(1308px, 733px); }
  91.43% {
    transform: translate(1340px, 733px); }
  94.29% {
    transform: translate(1372px, 760px); }
  97.14% {
    transform: translate(1404px, 787px); }
  100% {
    transform: translate(1436px, 814px); }
  0% {
    opacity: 0; }
  15% {
    opacity: 1; }
  85% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes animation15 {
  0% {
    transform: translate(604px, 139px); }
  7.69% {
    transform: translate(636px, 139px); }
  15.38% {
    transform: translate(668px, 112px); }
  23.08% {
    transform: translate(700px, 85px); }
  30.77% {
    transform: translate(732px, 112px); }
  38.46% {
    transform: translate(764px, 112px); }
  46.15% {
    transform: translate(796px, 139px); }
  53.85% {
    transform: translate(828px, 139px); }
  61.54% {
    transform: translate(860px, 166px); }
  69.23% {
    transform: translate(892px, 193px); }
  76.92% {
    transform: translate(924px, 193px); }
  84.62% {
    transform: translate(956px, 193px); }
  92.31% {
    transform: translate(988px, 193px); }
  100% {
    transform: translate(1020px, 166px); }
  0% {
    opacity: 0; }
  15% {
    opacity: 1; }
  85% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes animation16 {
  0% {
    transform: translate(252px, 922px); }
  50% {
    transform: translate(284px, 922px); }
  100% {
    transform: translate(316px, 922px); }
  0% {
    opacity: 0; }
  15% {
    opacity: 1; }
  85% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes animation17 {
  0% {
    transform: translate(572px, 58px); }
  4.17% {
    transform: translate(604px, 31px); }
  8.33% {
    transform: translate(636px, 4px); }
  12.5% {
    transform: translate(668px, -23px); }
  16.67% {
    transform: translate(700px, -50px); }
  20.83% {
    transform: translate(732px, -23px); }
  25% {
    transform: translate(764px, 4px); }
  29.17% {
    transform: translate(796px, 31px); }
  33.33% {
    transform: translate(828px, 58px); }
  37.5% {
    transform: translate(860px, 31px); }
  41.67% {
    transform: translate(892px, 58px); }
  45.83% {
    transform: translate(924px, 85px); }
  50% {
    transform: translate(956px, 58px); }
  54.17% {
    transform: translate(988px, 58px); }
  58.33% {
    transform: translate(1020px, 85px); }
  62.5% {
    transform: translate(1052px, 58px); }
  66.67% {
    transform: translate(1084px, 58px); }
  70.83% {
    transform: translate(1116px, 58px); }
  75% {
    transform: translate(1148px, 31px); }
  79.17% {
    transform: translate(1180px, 58px); }
  83.33% {
    transform: translate(1212px, 31px); }
  87.5% {
    transform: translate(1244px, 58px); }
  91.67% {
    transform: translate(1276px, 31px); }
  95.83% {
    transform: translate(1308px, 58px); }
  100% {
    transform: translate(1340px, 58px); }
  0% {
    opacity: 0; }
  15% {
    opacity: 1; }
  85% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes animation18 {
  0% {
    transform: translate(380px, 301px); }
  12.5% {
    transform: translate(412px, 274px); }
  25% {
    transform: translate(444px, 301px); }
  37.5% {
    transform: translate(476px, 274px); }
  50% {
    transform: translate(508px, 301px); }
  62.5% {
    transform: translate(540px, 301px); }
  75% {
    transform: translate(572px, 274px); }
  87.5% {
    transform: translate(604px, 247px); }
  100% {
    transform: translate(636px, 274px); }
  0% {
    opacity: 0; }
  15% {
    opacity: 1; }
  85% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes animation19 {
  0% {
    transform: translate(604px, 409px); }
  12.5% {
    transform: translate(636px, 382px); }
  25% {
    transform: translate(668px, 409px); }
  37.5% {
    transform: translate(700px, 409px); }
  50% {
    transform: translate(732px, 436px); }
  62.5% {
    transform: translate(764px, 436px); }
  75% {
    transform: translate(796px, 463px); }
  87.5% {
    transform: translate(828px, 490px); }
  100% {
    transform: translate(860px, 490px); }
  0% {
    opacity: 0; }
  15% {
    opacity: 1; }
  85% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.elem1 {
  left: 60px;
  top: -23px;
  animation: animation1 linear 21s infinite;
  height: 46px;
  width: 46px;
  background-image: url("#{resource['manhattan-layout:images/exception/icon-apple-purple.svg']}"); }

.elem2 {
  left: -100px;
  top: 112px;
  animation: animation2 linear 20s infinite;
  height: 46px;
  width: 46px;
  background-image: url("#{resource['manhattan-layout:images/exception/icon-donut-red.svg']}"); }

.elem3 {
  left: 60px;
  top: 112px;
  animation: animation3 linear 22s infinite;
  height: 41px;
  width: 41px;
  background-image: url("#{resource['manhattan-layout:images/exception/icon-donut-yellow.svg']}"); }

.elem4 {
  left: 28px;
  top: 166px;
  animation: animation4 linear 21s infinite;
  height: 36px;
  width: 36px;
  background-image: url("#{resource['manhattan-layout:images/exception/icon-shop-purple.svg']}"); }

.elem5 {
  left: 28px;
  top: 139px;
  animation: animation5 linear 20s infinite;
  height: 35px;
  width: 35px;
  background-image: url("#{resource['manhattan-layout:images/exception/icon-apple-green.svg']}"); }

.elem6 {
  left: 60px;
  top: 58px;
  animation: animation6 linear 20s infinite;
  height: 31px;
  width: 31px;
  background-image: url("#{resource['manhattan-layout:images/exception/icon-apple-purple.svg']}"); }

.elem7 {
  left: -68px;
  top: 166px;
  animation: animation7 linear 20s infinite;
  height: 43px;
  width: 43px;
  background-image: url("#{resource['manhattan-layout:images/exception/icon-donut-red.svg']}"); }

.elem8 {
  left: 124px;
  top: -23px;
  animation: animation8 linear 22s infinite;
  height: 34px;
  width: 34px;
  background-image: url("#{resource['manhattan-layout:images/exception/icon-donut-yellow.svg']}"); }

.elem9 {
  left: 60px;
  top: 166px;
  animation: animation9 linear 21s infinite;
  height: 37px;
  width: 37px;
  background-image: url("#{resource['manhattan-layout:images/exception/icon-shop-purple.svg']}"); }

.elem10 {
  left: 124px;
  top: 58px;
  animation: animation10 linear 20s infinite;
  height: 43px;
  width: 43px;
  background-image: url("#{resource['manhattan-layout:images/exception/icon-apple-green.svg']}"); }

.elem11 {
  left: 28px;
  top: 31px;
  animation: animation11 linear 22s infinite;
  height: 42px;
  width: 42px;
  background-image: url("#{resource['manhattan-layout:images/exception/icon-apple-purple.svg']}"); }

.elem12 {
  left: 28px;
  top: 4px;
  animation: animation12 linear 20s infinite;
  height: 43px;
  width: 43px;
  background-image: url("#{resource['manhattan-layout:images/exception/icon-donut-red.svg']}"); }

.elem13 {
  left: 124px;
  top: 193px;
  animation: animation13 linear 23s infinite;
  height: 37px;
  width: 37px;
  background-image: url("#{resource['manhattan-layout:images/exception/icon-donut-yellow.svg']}"); }

.elem14 {
  left: -68px;
  top: 112px;
  animation: animation14 linear 23s infinite;
  height: 34px;
  width: 34px;
  background-image: url("#{resource['manhattan-layout:images/exception/icon-shop-purple.svg']}"); }

.elem15 {
  left: 188px;
  top: 193px;
  animation: animation15 linear 19s infinite;
  height: 44px;
  width: 44px;
  background-image: url("#{resource['manhattan-layout:images/exception/icon-apple-green.svg']}"); }

.elem16 {
  left: 92px;
  top: 139px;
  animation: animation16 linear 20s infinite;
  height: 44px;
  width: 44px;
  background-image: url("#{resource['manhattan-layout:images/exception/icon-apple-purple.svg']}"); }

.elem17 {
  left: 188px;
  top: 193px;
  animation: animation17 linear 20s infinite;
  height: 31px;
  width: 31px;
  background-image: url("#{resource['manhattan-layout:images/exception/icon-donut-red.svg']}"); }

.elem18 {
  left: 156px;
  top: 4px;
  animation: animation18 linear 20s infinite;
  height: 29px;
  width: 29px;
  background-image: url("#{resource['manhattan-layout:images/exception/icon-donut-yellow.svg']}"); }

.elem19 {
  left: 124px;
  top: 4px;
  animation: animation19 linear 19s infinite;
  height: 47px;
  width: 47px;
  background-image: url("#{resource['manhattan-layout:images/exception/icon-shop-purple.svg']}"); }

.anim-delay1 {
  animation-delay: 4s; }

.anim-delay2 {
  animation-delay: 1s; }

.anim-delay3 {
  animation-delay: 2s; }

.anim-delay4 {
  animation-delay: 2s; }

.anim-delay5 {
  animation-delay: 5s; }

.anim-delay6 {
  animation-delay: 4s; }

.anim-delay7 {
  animation-delay: 5s; }

.anim-delay8 {
  animation-delay: 4s; }

.anim-delay9 {
  animation-delay: 5s; }

.anim-delay10 {
  animation-delay: 2s; }

.anim-delay11 {
  animation-delay: 1s; }

.anim-delay12 {
  animation-delay: 1s; }

.anim-delay13 {
  animation-delay: 3s; }

.anim-delay14 {
  animation-delay: 4s; }

.anim-delay15 {
  animation-delay: 1s; }

.anim-delay16 {
  animation-delay: 1s; }

.anim-delay17 {
  animation-delay: 1s; }

.anim-delay18 {
  animation-delay: 3s; }

.anim-delay19 {
  animation-delay: 1s; }

.anim-delay20 {
  animation-delay: 4s; }

.landing-body {
  background: #f4f4f4; }
  .landing-body .landing-menu {
    list-style-type: none;
    margin: 2px 0 0 0;
    padding: 0;
    float: right; }
    .landing-body .landing-menu li {
      display: inline-block;
      font-size: 16px;
      margin-left: 36px; }
      .landing-body .landing-menu li:first-child {
        margin-left: 0; }
      .landing-body .landing-menu li a {
        color: #a3a5cc;
        padding: 5px;
        border-bottom: 1px solid transparent;
        -moz-transition: background-color 0.3s;
        -o-transition: background-color 0.3s;
        -webkit-transition: background-color 0.3s;
        transition: background-color 0.3s; }
        .landing-body .landing-menu li a:hover {
          background-color: #331a61;
          color: #a06bff;
          border-radius: 2px; }
  .landing-body .landing-wrapper #header {
    background-color: #633ea5;
    background: url("#{resource['manhattan-layout:images/landing/manhattan-silhouette.svg']}") no-repeat #633ea5;
    background-position: center bottom;
    height: 550px; }
    .landing-body .landing-wrapper #header .header-top {
      width: 960px;
      margin: 0 auto;
      text-align: center;
      padding-top: 60px;
      padding-bottom: 30px; }
      .landing-body .landing-wrapper #header .header-top .logo {
        width: 125px;
        float: left; }
    .landing-body .landing-wrapper #header .header-content {
      width: 960px;
      margin: 0 auto;
      text-align: center;
      padding: 60px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      color: #ffffff; }
      .landing-body .landing-wrapper #header .header-content h1 {
        font-size: 28px;
        font-weight: 400; }
      .landing-body .landing-wrapper #header .header-content h2 {
        font-size: 22px;
        font-weight: 300;
        margin-bottom: 30px; }
      .landing-body .landing-wrapper #header .header-content button {
        width: 170px; }
  .landing-body .landing-wrapper #features {
    background-color: #ffffff; }
    .landing-body .landing-wrapper #features > div {
      width: 960px;
      margin: 0 auto;
      text-align: center;
      padding: 60px 0 75px 0;
      color: #ffffff; }
      .landing-body .landing-wrapper #features > div h1 {
        font-size: 22px;
        font-weight: 600;
        color: #ffffff;
        margin: 15px 0; }
      .landing-body .landing-wrapper #features > div .features-content {
        text-align: center;
        color: #434560; }
        .landing-body .landing-wrapper #features > div .features-content h3 {
          font-size: 18px;
          margin: 0;
          font-weight: bold; }
        .landing-body .landing-wrapper #features > div .features-content p {
          font-size: 14px;
          margin: 6px 0 0 0; }
        .landing-body .landing-wrapper #features > div .features-content img {
          width: 72px;
          margin-bottom: 15px; }
        .landing-body .landing-wrapper #features > div .features-content .ui-g-12 {
          padding-left: 20px;
          padding-right: 20px;
          padding-top: 36px; }
  .landing-body .landing-wrapper #events {
    background-color: #f4f3f8;
    position: relative;
    color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2); }
    .landing-body .landing-wrapper #events img {
      float: left;
      height: auto;
      max-width: 670px;
      min-width: 300px;
      width: 100%; }
    .landing-body .landing-wrapper #events .right-side {
      text-align: right;
      color: #434560; }
      .landing-body .landing-wrapper #events .right-side button {
        margin-top: 26px; }
    .landing-body .landing-wrapper #events > div {
      width: 960px;
      margin: 0 auto;
      padding: 60px 0 75px 0;
      text-align: center; }
      .landing-body .landing-wrapper #events > div h1 {
        font-size: 22px;
        font-weight: 600;
        margin: 15px 0; }
      .landing-body .landing-wrapper #events > div .event-box {
        background-color: #393b3e;
        text-align: left; }
        .landing-body .landing-wrapper #events > div .event-box .event-box-image {
          color: #ffffff;
          position: relative; }
          .landing-body .landing-wrapper #events > div .event-box .event-box-image img {
            width: 185px;
            float: left;
            margin-right: 24px; }
          .landing-body .landing-wrapper #events > div .event-box .event-box-image .event-month {
            position: absolute;
            font-size: 36px;
            font-weight: 700;
            top: 50px;
            left: 60px;
            font-weight: 300; }
          .landing-body .landing-wrapper #events > div .event-box .event-box-image .event-date {
            position: absolute;
            font-size: 56px;
            font-weight: 700;
            top: 90px;
            left: 65px; }
        .landing-body .landing-wrapper #events > div .event-box .event-box-content {
          color: #ffffff;
          padding-top: 20px; }
          .landing-body .landing-wrapper #events > div .event-box .event-box-content h3 {
            font-size: 36px;
            font-weight: 300;
            margin: 30px 0 15px 0; }
          .landing-body .landing-wrapper #events > div .event-box .event-box-content p {
            font-size: 14px;
            margin: 14px; }
          .landing-body .landing-wrapper #events > div .event-box .event-box-content .event-type {
            background-color: #ffffff;
            color: #7d8286;
            padding: 4px 8px;
            font-size: 18px; }
        .landing-body .landing-wrapper #events > div .event-box:first-child {
          margin-top: 36px;
          margin-bottom: 28px; }
  .landing-body .landing-wrapper #pricing {
    background-color: #ffffff;
    padding: 60px 0 75px 0;
    text-align: center; }
    .landing-body .landing-wrapper #pricing > div {
      width: 960px;
      margin: 0 auto;
      text-align: center; }
      .landing-body .landing-wrapper #pricing > div h1 {
        font-size: 22px;
        font-weight: 600;
        margin: 15px 0 45px 0; }
      .landing-body .landing-wrapper #pricing > div .ui-g-12 .price-type {
        border: solid 1px #d9dae3;
        height: 100%;
        color: #6a6a7d;
        box-sizing: border-box;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px; }
        .landing-body .landing-wrapper #pricing > div .ui-g-12 .price-type h3 {
          font-size: 18px;
          margin: 0 0 5px 0;
          color: #ffffff; }
        .landing-body .landing-wrapper #pricing > div .ui-g-12 .price-type .beginner,
        .landing-body .landing-wrapper #pricing > div .ui-g-12 .price-type .enterprise {
          background-color: #633ea5;
          padding: 30px; }
          .landing-body .landing-wrapper #pricing > div .ui-g-12 .price-type .beginner .price-for,
          .landing-body .landing-wrapper #pricing > div .ui-g-12 .price-type .enterprise .price-for {
            color: #a06bff;
            font-weight: bold; }
        .landing-body .landing-wrapper #pricing > div .ui-g-12 .price-type .professional {
          background-color: #ed3c76;
          padding: 30px; }
          .landing-body .landing-wrapper #pricing > div .ui-g-12 .price-type .professional .price-for {
            color: #ffaec9;
            font-weight: bold; }
        .landing-body .landing-wrapper #pricing > div .ui-g-12 .price-type .pricing-bottom {
          padding: 30px; }
          .landing-body .landing-wrapper #pricing > div .ui-g-12 .price-type .pricing-bottom ul {
            list-style-type: none; }
        .landing-body .landing-wrapper #pricing > div .ui-g-12 .price-type ul {
          padding: 0;
          margin: 20px 0 0 0;
          min-height: 175px; }
          .landing-body .landing-wrapper #pricing > div .ui-g-12 .price-type ul li {
            padding-top: 6px; }
        .landing-body .landing-wrapper #pricing > div .ui-g-12 .price-type button {
          width: 100%; }
  .landing-body .landing-wrapper #video {
    padding: 60px 0 75px 0;
    text-align: center;
    background-color: #f4f3f8; }
    .landing-body .landing-wrapper #video > div {
      width: 960px;
      margin: 0 auto;
      text-align: center; }
      .landing-body .landing-wrapper #video > div h1 {
        font-size: 22px;
        font-weight: 600;
        margin: 15px 0 45px 0; }
    .landing-body .landing-wrapper #video .iframe-ratio {
      margin: 20px 200px 0 200px; }
      .landing-body .landing-wrapper #video .iframe-ratio .left-side {
        text-align: center;
        padding: 10px;
        background-color: #191a25;
        color: #ffffff;
        font-weight: bold; }
        .landing-body .landing-wrapper #video .iframe-ratio .left-side span {
          margin-top: 10px; }
      .landing-body .landing-wrapper #video .iframe-ratio .right-side {
        text-align: right;
        padding: 5px 0 5px 5px;
        margin-top: 5px; }
        .landing-body .landing-wrapper #video .iframe-ratio .right-side .comment {
          display: inline-block;
          margin-right: 30px; }
        .landing-body .landing-wrapper #video .iframe-ratio .right-side .likes {
          float: right; }
        .landing-body .landing-wrapper #video .iframe-ratio .right-side img {
          vertical-align: middle;
          margin-left: 5px; }
  .landing-body .landing-wrapper #footer {
    padding: 30px 0;
    background-color: #272939;
    border: solid 1px #dee4e9; }
    .landing-body .landing-wrapper #footer > div {
      width: 960px;
      margin: 0 auto;
      text-align: left; }
      .landing-body .landing-wrapper #footer > div img {
        width: 160px;
        margin-bottom: 10px; }
      .landing-body .landing-wrapper #footer > div span {
        color: #a3a5cc; }
      .landing-body .landing-wrapper #footer > div .footer-newsletter a {
        position: relative; }
      .landing-body .landing-wrapper #footer > div .footer-newsletter input {
        width: 180px; }
      .landing-body .landing-wrapper #footer > div .footer-newsletter .input-icon {
        position: absolute;
        right: 5px;
        top: 0;
        color: #3e9018;
        font-size: 18px; }
      .landing-body .landing-wrapper #footer > div .landing-menu {
        list-style-type: none;
        float: none; }
        .landing-body .landing-wrapper #footer > div .landing-menu li {
          display: block;
          margin: 0;
          text-align: left;
          line-height: 1.5; }
          .landing-body .landing-wrapper #footer > div .landing-menu li a {
            color: #a3a5cc;
            border-bottom: 1px solid transparent;
            -moz-transition: border 0.3s;
            -o-transition: border 0.3s;
            -webkit-transition: border 0.3s;
            transition: border 0.3s; }
            .landing-body .landing-wrapper #footer > div .landing-menu li a:hover {
              color: #ffffff;
              background-color: transparent; }

@media (max-width: 960px) {
  .landing-body {
    background: #f4f4f4; }
    .landing-body .landing-menu li {
      font-size: 16px;
      margin-left: 16px; }
    .landing-body .landing-wrapper #header {
      padding: 60px;
      padding-top: 0; }
      .landing-body .landing-wrapper #header .header-top {
        width: 100%; }
      .landing-body .landing-wrapper #header .header-content {
        width: 100%; }
    .landing-body .landing-wrapper #features > div {
      width: 100%; }
    .landing-body .landing-wrapper #events {
      padding: 0 50px 0 50px; }
      .landing-body .landing-wrapper #events > div {
        width: 100%; }
        .landing-body .landing-wrapper #events > div .event-box .event-box-content h3 {
          font-size: 24px; }
        .landing-body .landing-wrapper #events > div .event-box .event-box-content p {
          display: none; }
    .landing-body .landing-wrapper #pricing > div {
      width: 100%;
      padding: 0 30px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    .landing-body .landing-wrapper #video > div {
      width: 100%; }
      .landing-body .landing-wrapper #video > div iframe {
        width: 300px;
        height: 169px; }
      .landing-body .landing-wrapper #video > div .iframe-ratio {
        width: 300px;
        margin: 20px auto; }
        .landing-body .landing-wrapper #video > div .iframe-ratio .right-side {
          text-align: center;
          margin-top: 20px; }
    .landing-body .landing-wrapper #footer {
      padding: 20px 50px 20px 50px; }
      .landing-body .landing-wrapper #footer > div {
        width: 100%; }
        .landing-body .landing-wrapper #footer > div .footer-newsletter input {
          width: 140px; } }
@media (max-width: 640px) {
  .landing-body .landing-wrapper #header {
    padding: 0; }
    .landing-body .landing-wrapper #header .header-content {
      padding: 30px; }
    .landing-body .landing-wrapper #header .header-top .ui-g-12 img.logo {
      float: none; }
    .landing-body .landing-wrapper #header .header-top .ui-g-12 ul {
      float: none; }
  .landing-body .landing-wrapper #events .ui-g-12 img {
    float: none; }
  .landing-body .landing-wrapper #events .ui-g-12.right-side {
    text-align: center; }
  .landing-body .landing-wrapper #pricing .ui-g-12 {
    margin-bottom: 20px; }
  .landing-body .landing-wrapper #video > div .iframe-ratio .ui-g-12.right-side {
    text-align: left; }
  .landing-body .landing-wrapper #footer .ui-g-12 {
    text-align: center;
    margin-bottom: 20px; }
    .landing-body .landing-wrapper #footer .ui-g-12 img {
      text-align: center; }
    .landing-body .landing-wrapper #footer .ui-g-12 .landing-menu :last-child.ui-g-6 li {
      text-align: right; }
      .landing-body .landing-wrapper #footer .ui-g-12 .landing-menu :last-child.ui-g-6 li a:hover {
        background-color: transparent;
        border-bottom: 1px solid #a06bff; }
    .landing-body .landing-wrapper #footer .ui-g-12 .landing-menu .ui-g-6 li a:hover {
      background-color: transparent;
      border-bottom: 1px solid #a06bff; } }
.animation-element {
  opacity: 0;
  position: relative; }

/*animation element sliding left*/
.animation-element.slide-left {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px); }

.animation-element.slide-bottom {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(0px, 100px, 0px);
  -webkit-transform: translate3d(0px, 100px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 100px, 0px); }

.animation-element.slide-left.in-view,
.animation-element.slide-bottom.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px); }

html {
  height: 100%; }

body {
  font-family: "Source Sans Pro", "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: #434560;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
  min-height: 100%;
  background-color: #f4f3f8; }

.layout-wrapper .layout-sidebar {
  position: fixed;
  z-index: 999;
  background: #2c2d3c;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .layout-wrapper .layout-sidebar .layout-sidebar-logo {
    height: 64px;
    padding: 16px;
    background-color: #e96443;
    background-image: -webkit-gradient(linear, left top, right top, from(#e96443), to(#904e95));
    background-image: -webkit-linear-gradient(left, #e96443, #904e95);
    background-image: -moz-linear-gradient(left, #e96443, #904e95);
    background-image: -ms-linear-gradient(left, #e96443, #904e95);
    background-image: -o-linear-gradient(left, #e96443, #904e95);
    background-image: linear-gradient(left, #e96443, #904e95);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e96443', endColorstr='#904e95', gradientType='1');
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .layout-wrapper .layout-sidebar .layout-sidebar-logo:after {
      content: "";
      display: table;
      clear: both; }
    .layout-wrapper .layout-sidebar .layout-sidebar-logo img {
      float: right;
      height: 32px; }
    .layout-wrapper .layout-sidebar .layout-sidebar-logo .layout-sidebar-anchor {
      font-size: 24px;
      color: #ffffff;
      display: none; }
      .layout-wrapper .layout-sidebar .layout-sidebar-logo .layout-sidebar-anchor i {
        background: none;
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-indent: 0px !important;
        text-align: center; }
        .layout-wrapper .layout-sidebar .layout-sidebar-logo .layout-sidebar-anchor i:before {
          content: ""; }
  .layout-wrapper .layout-sidebar .layout-menu {
    list-style-type: none;
    margin: 16px 0 0 0;
    padding: 0; }
    .layout-wrapper .layout-sidebar .layout-menu > li > a:hover {
      background-color: #1d1d26; }
    .layout-wrapper .layout-sidebar .layout-menu > li > ul {
      border-left: 4px solid transparent; }
    .layout-wrapper .layout-sidebar .layout-menu > li.active-menuitem > a {
      color: #e96443;
      padding-left: 12px;
      border-left: 4px solid #e96443; }
      .layout-wrapper .layout-sidebar .layout-menu > li.active-menuitem > a:hover {
        background-color: #1d1d26; }
      .layout-wrapper .layout-sidebar .layout-menu > li.active-menuitem > a i:first-child {
        color: #ffffff;
        background-color: #e96443; }
    .layout-wrapper .layout-sidebar .layout-menu > li.active-menuitem > ul {
      border-left-width: 4px;
      border-left-style: solid;
      -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e96443), to(#904e95)) 1 100%;
      -webkit-border-image: -webkit-linear-gradient(#e96443, #904e95) 1 100%;
      -moz-border-image: -moz-linear-gradient(#e96443, #904e95) 1 100%;
      -o-border-image: -o-linear-gradient(#e96443, #904e95) 1 100%;
      border-image: linear-gradient(to bottom, #e96443, #904e95) 1 100%; }
    .layout-wrapper .layout-sidebar .layout-menu li {
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      .layout-wrapper .layout-sidebar .layout-menu li > a {
        color: #d9dae3;
        display: block;
        padding: 4px 16px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -moz-transition: background-color 0.3s;
        -o-transition: background-color 0.3s;
        -webkit-transition: background-color 0.3s;
        transition: background-color 0.3s; }
        .layout-wrapper .layout-sidebar .layout-menu li > a:after {
          content: "";
          display: table;
          clear: both; }
        .layout-wrapper .layout-sidebar .layout-menu li > a i:first-child {
          color: #d9dae3;
          background-color: #1d1d26;
          float: right;
          width: 36px;
          height: 36px;
          line-height: 36px;
          font-size: 18px; }
        .layout-wrapper .layout-sidebar .layout-menu li > a .layout-submenu-toggler {
          float: right;
          font-size: 18px;
          margin-right: 12px;
          margin-top: 9px;
          -moz-transition: all 0.3s;
          -o-transition: all 0.3s;
          -webkit-transition: all 0.3s;
          transition: all 0.3s; }
        .layout-wrapper .layout-sidebar .layout-menu li > a span {
          margin-top: 9px;
          display: inline-block; }
      .layout-wrapper .layout-sidebar .layout-menu li.active-menuitem {
        background-color: #17171e; }
        .layout-wrapper .layout-sidebar .layout-menu li.active-menuitem > a {
          color: #e96443; }
          .layout-wrapper .layout-sidebar .layout-menu li.active-menuitem > a .layout-submenu-toggler {
            -webkit-transform: rotate(-180deg);
            -moz-transform: rotate(-180deg);
            -o-transform: rotate(-180deg);
            -ms-transform: rotate(-180deg);
            transform: rotate(-180deg); }
      .layout-wrapper .layout-sidebar .layout-menu li ul {
        display: none;
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #17171e; }
        .layout-wrapper .layout-sidebar .layout-menu li ul li > a:hover {
          background-color: #242430; }
        .layout-wrapper .layout-sidebar .layout-menu li ul li a {
          padding-left: 32px; }
        .layout-wrapper .layout-sidebar .layout-menu li ul li li a {
          padding-left: 48px; }
        .layout-wrapper .layout-sidebar .layout-menu li ul li li li a {
          padding-left: 64px; }
        .layout-wrapper .layout-sidebar .layout-menu li ul li li li li a {
          padding-left: 80px; }
        .layout-wrapper .layout-sidebar .layout-menu li ul li li li li li a {
          padding-left: 96px; }
        .layout-wrapper .layout-sidebar .layout-menu li ul li li li li li li a {
          padding-left: 110px; }
    .layout-wrapper .layout-sidebar .layout-menu .menuitem-badge {
      float: right;
      width: 16px;
      height: 16px;
      margin-right: 6px;
      margin-top: 9px;
      text-align: center;
      background-color: #06BAD2;
      color: #333333;
      font-size: 12px;
      font-weight: 700;
      line-height: 16px;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%; }
  .layout-wrapper .layout-sidebar .nano .sidebar-scroll-content {
    display: block;
    height: 100%;
    position: relative; }
    .layout-wrapper .layout-sidebar .nano .sidebar-scroll-content .layout-menu {
      padding-bottom: 120px; }

.layout-wrapper .layout-main {
  -moz-transition: margin-left 0.3s;
  -o-transition: margin-left 0.3s;
  -webkit-transition: margin-left 0.3s;
  transition: margin-left 0.3s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .layout-wrapper .layout-main .layout-topbar {
    height: 64px;
    background-color: #ffffff;
    padding: 16px 24px;
    position: fixed;
    z-index: 999;
    -moz-transition: width 0.3s;
    -o-transition: width 0.3s;
    -webkit-transition: width 0.3s;
    transition: width 0.3s;
    -webkit-box-shadow: 0 1px 10px 0 rgba(182, 183, 195, 0.5);
    -moz-box-shadow: 0 1px 10px 0 rgba(182, 183, 195, 0.5);
    box-shadow: 0 1px 10px 0 rgba(182, 183, 195, 0.5);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .layout-wrapper .layout-main .layout-topbar .menu-btn {
      vertical-align: top;
      margin-right: 16px;
      font-size: 24px;
      color: #b6b7c2;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
      .layout-wrapper .layout-main .layout-topbar .menu-btn:hover {
        color: #7f8087; }
    .layout-wrapper .layout-main .layout-topbar .topbar-search {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      height: 40px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      .layout-wrapper .layout-main .layout-topbar .topbar-search input {
        border: 0 none;
        width: 150px;
        padding: 6px 6px 6px 18px;
        font-size: 14px;
        background-color: transparent;
        border-bottom: 1px solid #d8dae2;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        outline: 0 none; }
        .layout-wrapper .layout-main .layout-topbar .topbar-search input:focus {
          width: 250px; }
      .layout-wrapper .layout-main .layout-topbar .topbar-search i {
        position: absolute;
        left: 0;
        top: 8px;
        color: #b6b7c2; }
    .layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper {
      float: right; }
      .layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: inline-block;
        vertical-align: middle;
        margin: 4px 0 0 0; }
        .layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu .topbar-badge {
          width: 16px;
          height: 16px;
          text-align: center;
          background-color: #06BAD2;
          color: #333333;
          font-size: 12px;
          font-weight: 700;
          line-height: 16px;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          border-radius: 50%; }
        .layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li {
          float: right;
          margin-left: 20px;
          position: relative; }
          .layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li > a {
            color: #434560;
            position: relative; }
            .layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li > a .topbar-item-name {
              display: none; }
            .layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li > a i {
              font-size: 24px;
              color: #b6b7c2;
              -moz-transition: color 0.3s;
              -o-transition: color 0.3s;
              -webkit-transition: color 0.3s;
              transition: color 0.3s; }
              .layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li > a i:hover {
                color: #7f8087; }
            .layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li > a .topbar-badge {
              position: absolute;
              right: -4px;
              top: -14px; }
          .layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li.profile-item {
            margin-left: 20px; }
            .layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li.profile-item > a {
              display: inline-block;
              position: relative;
              top: -4px; }
              .layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li.profile-item > a img {
                width: 40px;
                height: 40px;
                vertical-align: middle;
                margin-top: -4px; }
              .layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li.profile-item > a span {
                font-weight: bold;
                display: inline-block;
                margin-left: 6px;
                -moz-transition: color 0.3s;
                -o-transition: color 0.3s;
                -webkit-transition: color 0.3s;
                transition: color 0.3s; }
          .layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li.active-topmenuitem > a i {
            color: #48494d; }
          .layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li.active-topmenuitem > ul {
            display: block; }
          .layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li > ul {
            position: absolute;
            top: 36px;
            right: 0;
            display: none;
            width: 250px;
            -webkit-animation-duration: .5s;
            -moz-animation-duration: .5s;
            animation-duration: .5s;
            list-style-type: none;
            margin: 0;
            padding: 8px 0;
            background-color: #ffffff;
            -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3); }
            .layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li > ul a {
              display: block;
              width: 100%;
              box-sizing: border-box;
              color: #434560;
              padding: 8px 14px;
              -moz-transition: background-color 0.3s;
              -o-transition: background-color 0.3s;
              -webkit-transition: background-color 0.3s;
              transition: background-color 0.3s; }
              .layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li > ul a .fa {
                margin-right: 8px; }
              .layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li > ul a img {
                margin-right: 8px; }
              .layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li > ul a .fa, .layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li > ul a img, .layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li > ul a span {
                vertical-align: middle; }
              .layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li > ul a .topbar-badge {
                float: right; }
              .layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li > ul a:hover {
                background-color: #f1f2f7; }
      .layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu-btn {
        display: none;
        position: relative;
        top: -4px; }
        .layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu-btn img {
          width: 40px;
          height: 40px;
          vertical-align: middle; }
  .layout-wrapper .layout-main .layout-content {
    padding: 80px 16px 24px 16px; }
  .layout-wrapper .layout-main .layout-main-mask {
    display: none; }
  .layout-wrapper .layout-main .layout-footer {
    padding: 16px 24px;
    border: 1px solid #dee4e9;
    background: #ffffff; }
    .layout-wrapper .layout-main .layout-footer img {
      margin-top: 5px; }
    .layout-wrapper .layout-main .layout-footer .layout-footer-icons {
      float: right; }
      .layout-wrapper .layout-main .layout-footer .layout-footer-icons a {
        font-size: 24px;
        margin-left: 28px;
        display: inline-block; }
        .layout-wrapper .layout-main .layout-footer .layout-footer-icons a i {
          color: #434560; }
          .layout-wrapper .layout-main .layout-footer .layout-footer-icons a i:hover {
            color: #7e80a5; }

@media (min-width: 1281px) {
  .layout-wrapper.layout-slim .layout-sidebar, .layout-wrapper.layout-static .layout-sidebar, .layout-wrapper.layout-overlay .layout-sidebar, .layout-wrapper.layout-toggle .layout-sidebar {
    width: 270px;
    height: 100%;
    top: 0;
    -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -moz-transition: left 0.3s;
    -o-transition: left 0.3s;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3); }
  .layout-wrapper.layout-slim .layout-sidebar {
    left: -200px; }
    .layout-wrapper.layout-slim .layout-sidebar .layout-sidebar-logo .layout-sidebar-anchor {
      display: inline-block; }
  .layout-wrapper.layout-slim.layout-slim-active .layout-sidebar {
    left: 0; }
  .layout-wrapper.layout-slim.layout-slim-anchored .layout-sidebar {
    left: 0; }
    .layout-wrapper.layout-slim.layout-slim-anchored .layout-sidebar .layout-sidebar-logo .layout-sidebar-anchor i {
      background: none;
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-indent: 0px !important;
      text-align: center; }
      .layout-wrapper.layout-slim.layout-slim-anchored .layout-sidebar .layout-sidebar-logo .layout-sidebar-anchor i:before {
        content: ""; }
  .layout-wrapper.layout-slim.layout-slim-anchored .layout-main {
    margin-left: 270px; }
    .layout-wrapper.layout-slim.layout-slim-anchored .layout-main .layout-topbar {
      width: calc(100% - 270px); }
  .layout-wrapper.layout-slim.layout-slim-restore .layout-sidebar {
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    transition: none; }
  .layout-wrapper.layout-slim.layout-slim-restore .layout-main {
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    transition: none; }
  .layout-wrapper.layout-slim .layout-main {
    margin-left: 70px; }
    .layout-wrapper.layout-slim .layout-main .layout-topbar {
      width: calc(100% - 70px); }
      .layout-wrapper.layout-slim .layout-main .layout-topbar .menu-btn {
        display: none; }
  .layout-wrapper.layout-static .layout-sidebar {
    left: 0; }
  .layout-wrapper.layout-static .layout-main {
    margin-left: 270px; }
    .layout-wrapper.layout-static .layout-main .layout-topbar {
      width: calc(100% - 270px); }
      .layout-wrapper.layout-static .layout-main .layout-topbar .menu-btn {
        display: inline-block; }
  .layout-wrapper.layout-static.layout-static-inactive .layout-sidebar {
    left: -270px; }
  .layout-wrapper.layout-static.layout-static-inactive .layout-main {
    margin-left: 0; }
    .layout-wrapper.layout-static.layout-static-inactive .layout-main .layout-topbar {
      width: 100%; }
  .layout-wrapper.layout-overlay .layout-sidebar {
    left: -270px; }
  .layout-wrapper.layout-overlay .layout-main .layout-topbar {
    width: 100%; }
    .layout-wrapper.layout-overlay .layout-main .layout-topbar .menu-btn {
      display: inline-block; }
  .layout-wrapper.layout-overlay.layout-overlay-active .layout-sidebar {
    left: 0; }
  .layout-wrapper.layout-toggle .layout-sidebar {
    left: -270px; }
  .layout-wrapper.layout-toggle .layout-main .layout-topbar {
    width: 100%; }
    .layout-wrapper.layout-toggle .layout-main .layout-topbar .menu-btn {
      position: fixed;
      top: 50%;
      left: 0;
      display: block;
      width: 64px;
      height: 64px;
      text-align: center;
      line-height: 64px;
      margin-top: -32px;
      margin-left: -32px;
      background-color: #2c2d3c;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
      .layout-wrapper.layout-toggle .layout-main .layout-topbar .menu-btn i {
        margin-left: 24px;
        font-size: 36px;
        background: none;
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-indent: 0px !important;
        text-align: center; }
        .layout-wrapper.layout-toggle .layout-main .layout-topbar .menu-btn i:before {
          content: ""; }
      .layout-wrapper.layout-toggle .layout-main .layout-topbar .menu-btn:hover {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1); }
  .layout-wrapper.layout-toggle.layout-toggle-active .layout-sidebar {
    left: 0; }
  .layout-wrapper.layout-toggle.layout-toggle-active .layout-main .layout-topbar .menu-btn {
    left: 270px; }
    .layout-wrapper.layout-toggle.layout-toggle-active .layout-main .layout-topbar .menu-btn i {
      background: none;
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-indent: 0px !important;
      text-align: center; }
      .layout-wrapper.layout-toggle.layout-toggle-active .layout-main .layout-topbar .menu-btn i:before {
        content: ""; }
  .layout-wrapper.layout-horizontal .layout-sidebar {
    width: 100%;
    height: auto;
    top: 64px;
    left: 0;
    z-index: 998;
    -webkit-box-shadow: 0 1px 10px 0 rgba(182, 183, 195, 0.5);
    -moz-box-shadow: 0 1px 10px 0 rgba(182, 183, 195, 0.5);
    box-shadow: 0 1px 10px 0 rgba(182, 183, 195, 0.5); }
    .layout-wrapper.layout-horizontal .layout-sidebar .layout-sidebar-logo {
      display: none; }
    .layout-wrapper.layout-horizontal .layout-sidebar .nano {
      overflow: visible; }
      .layout-wrapper.layout-horizontal .layout-sidebar .nano .sidebar-scroll-content {
        overflow: visible; }
        .layout-wrapper.layout-horizontal .layout-sidebar .nano .sidebar-scroll-content .layout-menu {
          padding-bottom: 0; }
      .layout-wrapper.layout-horizontal .layout-sidebar .nano .nano-pane {
        display: none !important; }
    .layout-wrapper.layout-horizontal .layout-sidebar .layout-menu {
      margin: 0; }
      .layout-wrapper.layout-horizontal .layout-sidebar .layout-menu > li {
        display: inline-block;
        width: auto; }
        .layout-wrapper.layout-horizontal .layout-sidebar .layout-menu > li > a {
          height: 44px;
          display: inline-block; }
          .layout-wrapper.layout-horizontal .layout-sidebar .layout-menu > li > a i:first-child {
            width: 24px;
            height: 24px;
            line-height: 24px;
            font-size: 14px;
            margin-top: 6px; }
          .layout-wrapper.layout-horizontal .layout-sidebar .layout-menu > li > a span {
            margin-right: 6px; }
          .layout-wrapper.layout-horizontal .layout-sidebar .layout-menu > li > a .layout-submenu-toggler {
            margin-right: 0; }
          .layout-wrapper.layout-horizontal .layout-sidebar .layout-menu > li > a .menuitem-badge {
            margin-right: 0; }
        .layout-wrapper.layout-horizontal .layout-sidebar .layout-menu > li > ul {
          position: absolute;
          min-width: 200px;
          -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
          -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3); }
      .layout-wrapper.layout-horizontal .layout-sidebar .layout-menu li ul li a {
        padding-left: 16px; }
      .layout-wrapper.layout-horizontal .layout-sidebar .layout-menu li ul li li a {
        padding-left: 32px; }
      .layout-wrapper.layout-horizontal .layout-sidebar .layout-menu li ul li li li a {
        padding-left: 48px; }
      .layout-wrapper.layout-horizontal .layout-sidebar .layout-menu li ul li li li li a {
        padding-left: 64px; }
      .layout-wrapper.layout-horizontal .layout-sidebar .layout-menu li ul li li li li li a {
        padding-left: 80px; }
      .layout-wrapper.layout-horizontal .layout-sidebar .layout-menu li ul li li li li li li a {
        padding-left: 96px; }
  .layout-wrapper.layout-horizontal .layout-main .layout-topbar {
    width: 100%;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #e96443;
    background-image: -webkit-gradient(linear, left top, right top, from(#e96443), to(#904e95));
    background-image: -webkit-linear-gradient(left, #e96443, #904e95);
    background-image: -moz-linear-gradient(left, #e96443, #904e95);
    background-image: -ms-linear-gradient(left, #e96443, #904e95);
    background-image: -o-linear-gradient(left, #e96443, #904e95);
    background-image: linear-gradient(left, #e96443, #904e95);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e96443', endColorstr='#904e95', gradientType='1'); }
    .layout-wrapper.layout-horizontal .layout-main .layout-topbar .menu-btn {
      display: none; }
    .layout-wrapper.layout-horizontal .layout-main .layout-topbar .topbar-search input {
      color: #F5D8D0;
      border-bottom: 1px solid #F5D8D0; }
    .layout-wrapper.layout-horizontal .layout-main .layout-topbar .topbar-search i {
      color: #F5D8D0; }
    .layout-wrapper.layout-horizontal .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li > a {
      color: #F5D8D0; }
      .layout-wrapper.layout-horizontal .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li > a i, .layout-wrapper.layout-horizontal .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li > a .topbar-item-name {
        color: #F5D8D0; }
        .layout-wrapper.layout-horizontal .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li > a i:hover, .layout-wrapper.layout-horizontal .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li > a .topbar-item-name:hover {
          color: #ffffff; }
    .layout-wrapper.layout-horizontal .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li.active-topmenuitem > a i {
      color: #ffffff; }
    .layout-wrapper.layout-horizontal .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li.active-topmenuitem > ul {
      display: block; }
    .layout-wrapper.layout-horizontal .layout-main .layout-topbar .layout-topbar-menu-wrapper .rightpanel-btn i {
      color: #F5D8D0; }
      .layout-wrapper.layout-horizontal .layout-main .layout-topbar .layout-topbar-menu-wrapper .rightpanel-btn i:hover {
        color: #ffffff; }
    .layout-wrapper.layout-horizontal .layout-main .layout-topbar .layout-topbar-menu-wrapper .rightpanel-btn.rightpanel-btn-active i {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
      color: #ffffff; }
  .layout-wrapper.layout-horizontal .layout-main .layout-content {
    padding: 124px 16px 24px 16px; } }
@media (max-width: 1280px) {
  .layout-wrapper .layout-sidebar {
    left: -270px;
    width: 270px;
    height: 100%;
    top: 0;
    -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -moz-transition: left 0.3s;
    -o-transition: left 0.3s;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3); }
  .layout-wrapper .layout-main {
    margin-left: 0;
    left: 0;
    -moz-transition: left 0.3s;
    -o-transition: left 0.3s;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1); }
    .layout-wrapper .layout-main .layout-topbar {
      width: 100%; }
      .layout-wrapper .layout-main .layout-topbar .menu-btn {
        display: inline-block;
        margin-right: 14px; }
      .layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu-btn {
        display: inline-block; }
      .layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu {
        display: none;
        -webkit-animation-duration: .5s;
        -moz-animation-duration: .5s;
        animation-duration: .5s;
        -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3); }
        .layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu.topbar-menu-active {
          position: fixed;
          top: 61px;
          right: 50px;
          width: 250px;
          display: block;
          padding: 8px 0;
          background-color: #ffffff; }
          .layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu.topbar-menu-active > li {
            float: none;
            display: block;
            margin: 0; }
            .layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu.topbar-menu-active > li > a {
              padding: 8px 14px;
              display: block; }
              .layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu.topbar-menu-active > li > a:hover {
                background-color: #f1f2f7; }
              .layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu.topbar-menu-active > li > a i {
                display: inline-block;
                vertical-align: middle; }
              .layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu.topbar-menu-active > li > a .topbar-item-name {
                display: inline-block;
                vertical-align: middle; }
              .layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu.topbar-menu-active > li > a .topbar-badge {
                position: static;
                float: right; }
            .layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu.topbar-menu-active > li > ul {
              position: static;
              box-shadow: none;
              -webkit-box-shadow: none;
              -moz-box-shadow: none;
              padding: 0;
              width: 100%;
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              box-sizing: border-box; }
              .layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu.topbar-menu-active > li > ul a {
                padding-left: 28px; }
            .layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu.topbar-menu-active > li.profile-item img {
              display: none; }
      .layout-wrapper .layout-main .layout-topbar .topbar-search input:focus {
        width: 150px; }
  .layout-wrapper.layout-mobile-active {
    overflow: hidden; }
    .layout-wrapper.layout-mobile-active .layout-sidebar {
      left: 0; }
    .layout-wrapper.layout-mobile-active .layout-main {
      position: fixed;
      left: 270px; }
    .layout-wrapper.layout-mobile-active .layout-main-mask {
      z-index: 999998;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #ffffff;
      display: block;
      width: 100%;
      height: 100%;
      overflow: hidden;
      opacity: 0.5;
      filter: alpha(opacity=50); }

  body.hidden-overflow {
    overflow: hidden; } }
@media (max-width: 320px) {
  .layout-wrapper .layout-main .layout-topbar .topbar-search input {
    width: 100px; }
    .layout-wrapper .layout-main .layout-topbar .topbar-search input:focus {
      width: 120px; } }
.layout-wrapper.layout-light .layout-sidebar {
  background: #f2f2f7; }
  .layout-wrapper.layout-light .layout-sidebar .layout-menu > li > a:hover {
    background-color: #d9d9de; }
  .layout-wrapper.layout-light .layout-sidebar .layout-menu > li.active-menuitem > a {
    color: #e96443; }
    .layout-wrapper.layout-light .layout-sidebar .layout-menu > li.active-menuitem > a i:first-child {
      color: #ffffff;
      background-color: #e96443; }
    .layout-wrapper.layout-light .layout-sidebar .layout-menu > li.active-menuitem > a:hover {
      background-color: #d9d9de; }
  .layout-wrapper.layout-light .layout-sidebar .layout-menu li > a {
    color: #575867; }
    .layout-wrapper.layout-light .layout-sidebar .layout-menu li > a i:first-child {
      color: #575867;
      background-color: #d9d9de; }
  .layout-wrapper.layout-light .layout-sidebar .layout-menu li.active-menuitem {
    background-color: #ffffff; }
    .layout-wrapper.layout-light .layout-sidebar .layout-menu li.active-menuitem > a {
      color: #e96443; }
  .layout-wrapper.layout-light .layout-sidebar .layout-menu li ul {
    background-color: #ffffff; }
    .layout-wrapper.layout-light .layout-sidebar .layout-menu li ul li > a:hover {
      background-color: #d9d9de; }
  .layout-wrapper.layout-light .layout-sidebar .nano .nano-pane .nano-slider {
    background: #aaa; }

.layout-wrapper .layout-main .rightpanel-btn {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  margin-top: -8px;
  margin-left: 14px; }
  .layout-wrapper .layout-main .rightpanel-btn i {
    font-size: 24px;
    color: #b6b7c2;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .layout-wrapper .layout-main .rightpanel-btn i:hover {
      color: #7f8087; }
  .layout-wrapper .layout-main .rightpanel-btn.rightpanel-btn-active i {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    color: #48494d; }
.layout-wrapper .layout-rightpanel {
  position: fixed;
  top: 64px;
  height: 100%;
  right: -240px;
  width: 240px;
  z-index: 999;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: right 0.3s;
  -o-transition: right 0.3s;
  -webkit-transition: right 0.3s;
  transition: right 0.3s;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3); }
  .layout-wrapper .layout-rightpanel.layout-rightpanel-active {
    right: 0;
    -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1); }
  .layout-wrapper .layout-rightpanel .layout-rightpanel-content {
    padding: 14px; }
  .layout-wrapper .layout-rightpanel .nano .right-panel-scroll-content {
    display: block;
    height: 100%;
    position: relative; }
    .layout-wrapper .layout-rightpanel .nano .right-panel-scroll-content .layout-rightpanel-content {
      padding-bottom: 120px; }
  .layout-wrapper .layout-rightpanel .nano > .nano-pane > .nano-slider {
    background-color: #aaa;
    opacity: 0.3; }

/* Add your customizations of layout here */
