
.view-icon{
    background: url("#{resource['manhattan-layout/images/actions/view.png']}")no-repeat !important;
    height:16px;
    width:16px;
}

.edit-icon{
    background: url("#{resource['manhattan-layout/images/actions/edit.png']}")no-repeat !important;
    height:16px;
    width:16px;
}

.excel-icon{
    background: url("#{resource['manhattan-layout/images/files/excel.png']}")no-repeat !important;
    height:16px;
    width:16px;
}

.delete-icon{
    background: url("#{resource['manhattan-layout/images/actions/delete.png']}")no-repeat !important;
    height:16px;
    width:16px;
}

.img-button{
    border-width:0px !important;
    background:none !important;
    height: 23px !important;
    margin: 0px !important;;
    width: 16px !important;;
}

.pnx-horizontal-seperator{
    margin-left: 3px;
    margin-right: 3px;
}