<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: ailori
  Date: 11-Aug-18
  Time: 2:55 PM
-->
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:o="http://omnifaces.org/ui"  xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:of="http://omnifaces.org/functions" template="/WEB-INF/templates/home-template.xhtml"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:define name="head">
        <style type="text/css">
            .nba-grid {
                width: 100%;
                table-layout: fixed;
                word-wrap: break-word;
            }

            .ui-scrollpanel-content p:first-child {
                margin: 0;
            }
            .main-content {
                padding: 0;
            }


        </style>
        <script type="text/javascript">
            //<![CDATA[
            function skinBar() {
                this.cfg.shadow = false;
                this.cfg.title = '';
                this.cfg.seriesColors = ['#3984b8', '#7e8dcd'];
                this.cfg.grid = {
                    background: '#ffffff',
                    borderColor: '#ffffff',
                    gridLineColor: '#dee4e9',
                    shadow: false
                };
                this.cfg.axesDefaults = {
                    borderWidth: 0.1,
                    borderColor: 'dce2e7',
                    rendererOptions: {
                        textColor: '#757575'
                    }
                };
                this.cfg.seriesDefaults = {
                    shadow: false,
                    lineWidth: 1,
                    renderer: $.jqplot.BarRenderer,
                    markerOptions: {
                        shadow: false,
                        size: 7,
                        style: 'circle'
                    }
                }
            }
            //]]>
        </script>
    </ui:define>

    <ui:define name="pageTitle">
        GIC Choir
    </ui:define>

    <ui:define name="body-contents">
        <o:form id="homeForm" enctype="multipart/form-data">
            <p:growl id="msgHome" globalOnly="true" sticky="false" />
            <ui:include src="#{navigatorBean.selectedPagePath}"/>
            <p:tooltip />
            <o:highlight styleClass="text-danger"/>
        </o:form>
    </ui:define>
</ui:composition>