<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: ailori
  Date: 04-Aug-18
  Time: 11:27 PM
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/WEB-INF/templates/login/login-template.xhtml">
    <ui:define name="pageTitle">
        #{login['login-content.pageTitle']}
    </ui:define>
</ui:composition>